$contentBoxBG
	background-color $darkGrey
	background-position center
	background-repeat no-repeat
	background-size 55% 55%

	transition background-size 0.2s ease

	& a:hover
		background-size 65% 65%