$slashBefore
	position relative

	&::before
		bottom 0.75em
		color $blue
		font-size 0.56em
		font-style normal
		font-weight normal
		font-variant normal
		line-height 1
		content "\e00A"
		font-family 'icons'
		left -1.4em
		position absolute
		speak none
		text-transform none

$slashAfter	
	position relative

	&::after
		bottom 0.47em
		color $blue
		font-size 0.56em
		font-style normal
		font-weight normal
		font-variant normal
		line-height 1
		content "\e00A"
		font-family 'icons'
		right -1.4em
		position absolute
		speak none
		text-transform none