.expanded
	&.content-box
		column(1/1, gutter: 0)
		float none
		height auto
		max-width pxToRem(700)
		margin-left auto
		margin-right auto
		padding-bottom 0
		display block

		&:last-child
			margin-right auto

		// @media $screen-md-min
		// 	column(2/3, gutter: 0)
		// 	float right

	&.content-box-hooch
		@media (min-width: 948px)
			min-height pxToRem(2976)

	&.content-box-contact
		height 0
		min-height pxToRem(603)
		padding-bottom 100*(3/3) %