.expanded
	&.content-box
		column(1/1, gutter: 0)
		height auto
		padding-bottom 0

		& h3
			@extend $headingLeftSlashes
			margin-bottom $smallSpace

		& h4
			color $blue
			font-size 1.1rem
			margin $mediumSpace 0 0
			text-transform 

			& + p,
			& + div,
			& + ul
				margin-top .4rem

			& span
				@extend $slashBefore
				font-size .9rem
				font-weight lighter
				margin-left .5rem

				&:before
					color $grey
					font-size .65rem
					margin-right .4rem
					position static

		& h5
			color $grey
			font-size 1rem

			& + p
				font-size .9rem
				margin-top -1.7rem

		& h4:first-child
			margin-top 0

		& h3 + h4
			margin-top 0

		& h5 + h4
			margin-top $smallSpace

		& p
			color $grey
			line-height 1.4

			& + h3
				margin-top $mediumSpace

			& a
				&:hover
					text-decoration overline
		
		& p,
		& ul
			& a
				color $blue

		@media $screen-md-min
			column(2/3, gutter: 0)
			float right
		
		& .stagger
			column(3/4, gutter: 0)
			float right
			margin-bottom 4rem

	&.content-box-about
		@media $screen-lg-min
			height 0
			padding-bottom 100*(14/3) %
			padding-bottom 466.95%

	&.content-box-cue
		@media $screen-lg-min
			height 0
			// padding-bottom 100*(9/3) %
			padding-bottom 300.1%

	&.content-box-hooch
		@media $screen-lg-min
			height 0
			padding-bottom 100*(7/3) %
			// padding-bottom 266.72%
			padding-bottom 233.4%

	&.content-box-process
		@media $screen-lg-min
			height 0
			padding-bottom 100*(6/3) %
			// padding-bottom 266.72%

	&.content-box-one
		@media $screen-lg-min
			height 0
			padding-bottom 100*(8/3) %
			padding-bottom 266.72%