include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'about'

ul#primary-content.content.content-primary
	li.content-box-headline-icon
		.icon.icon-beard
		h2 about

	li.content-box-portrait

	li.content-box-headline.content-box-headline-tagline
		h2 ui developer<br />&mdash;<br />ux designer

.content.content-main
	.content-block
		:markdown
			#### Summary

			I&rsquo;m a User Interface Developer and User Experience Designer dedicated to building products that inspire focus, progress and meaning in user&rsquo;s lives. In the last five years, I&rsquo;ve worked in fast-paced startup and campaign environments creating teams, strategies and tools to solve a diverse range of problems.

		h4 Skills

		.content-lists
			.content-list
				h5 Languages
				ul
					li HTML / Jade
					li CSS / Stylus / SASS
					li JavaScript / Node.js / CoffeeScript
					li PHP
					li Objective-C
					li Arduino

			.content-list
				h5 Tools
				ul
					li Gulp / Grunt build scripts
					li Backbone.js
					li Phonegap
					li Git
					li Browserify
					li Adobe Creative Suite: Illustrator, Photoshop, Lightroom, Indesign

			.content-list
				h5 Research
				ul
					li user and stakeholder interviews
					li card sorting
					li personas
					li usability testing
					li content audit

			.content-list
				h5 Design
				ul
					li user flows
					li wireframing
					li site maps
					li content strategy

			.content-list
				h5 Other Skills
				ul
					li public speaking
					li client management
					li team building
					li editorial, event and product photography
					li sound production and engineering


	.content-block
		h4 Experience
		
		h5 Cue, Co-Founder and Tech Director
		ul
			li Collaborated to develop company vision including target audience, messaging, adoption strategy and business plan
			li Managed all technical development
			li Collaborated on user experience research and design
			li Developed numerous prototypes to test Bluetooth Low Energy feasibility
			li Developed Bluetooth Low Energy Phonegap plugin for Peripheral advertising

		a.btn-cta.full-width(href="/projects/cue.html") View Project: Cue

		h5 Human Design, Full-Stack JavaScript Developer
		ul
			li Managed UI development of HealthySkoop.com
			li Decreased development time by working with design team to identify user experience issues prior to development
			li Increased speed of Node.js build scripts eightfold by recoding Grunt process to use Gulp
			li Increased organization of JavaScript by implementing Browserify dependency management
			li Increased organization of CSS by implementing a semantic and modularity structure

		h5 Simply Semantic, Founder, Developer and Designer
		ul
			li Built and managed relationships with more than 10 clients including agencies such as The 1st Movement, On Board Experiential Marketing and Wigwam Creative
			li Utilized JavaScript, PHP, HTML, CSS and WordPress to build websites for brands such as Nike and DaVita Healthcare
			li Delivered projects on schedule and at or below budget

		h5 The Hooch Life, Web Manager and Photographer
		ul
			li Developed websites for The Hooch Life and Shift 1 Design
			li Collaborated with Art Director to define the brand&rsquo;s image
			li Shot and edited hundreds of images on a fast-paced editorial schedule

		a.btn-cta.full-width(href="/projects/the-hooch-life.html") View Project: The Hooch Life

		h5 The ONE Campaign, Colorado State Organizer
		ul
			li Built and maintained relationships with US Senate candidates and their staff
			li Recruited and trained nearly 100 volunteers who engaged US Senate candidates 30 times and signed up 1,000 new members
			li Secured support from both candidates in the US Senate race
			li Organized eight events to build awareness, recruit members and train volunteers
			li Landed six media mentions in Colorado news outlets

		a.btn-cta.full-width(href="/projects/one-campaign.html") View Project: ONE

		h5 The ONE Campaign, Intern
		ul
			li Founded and led ONE Webster
			li Recruited and supported ONE leaders on campuses throughout the Midwest
			li Built a team to enlist more than 300 students in the ONE Campaign at Webster University
			li Secured support from US Senators Claire McCaskill and Kit Bond
			li Earned top 10 in the ONE Campus Challenge in 2008 and 2009 among hundreds of universities nationwide

		a.btn-cta.full-width(href="/projects/one-campaign.html") View Project: ONE

	.content-block
		h4 Education

		h5 Boulder Digital Works 
			span Boulder, Colorado
			span Aug 2013 &mdash; Aug 2014
		h6 Graduate Certificate in Tech, Design and Entrepreneurship

		h5 Webster University
			span St. Louis, Missouri
			//- span Geneva, Switzerland
			span Aug 2007 &mdash; May 2010
		h6 Bachelor of Arts in Public Relations<br />Minor in International Human Rights<br />Certificate in Leadership
		p Graduated Summa Cum Laude with Department Honors, GPA 3.9

	.content-block
		:markdown
			#### Background

			I am driven to inspire focus, productivity and meaning in people&rsquo;s lives because I believe these are a source of happiness. I do this by researching people&rsquo;s problems and then designing and building teams, strategies and tools to solve these problems.

			Today, I solve problems as a User Interface Developer and User Experience Designer of web and mobile apps, but the first problem I took on was extreme poverty.

			In high school I was a tunnel-visioned guitar player with nothing but music on my brain. When I could no longer play guitar after being diagnosed with tendonitis in both hands, I suddenly found myself with a lot of free time. During this time, I read a book about Bono and I was astounded to learn that more than a billion people live in extreme poverty.

			Fast forward to my first week of school at Webster University. Donning a cowboy hat and sunglasses, much like my hero Bono, I marched into the student activities office and asked to speak to the director. I don&rsquo;t know how he took me seriously, but he approved my request to start a student chapter of the ONE Campaign, an organization founded by Bono with the mission to end extreme poverty.

			Over the next five years I built teams, tools and strategies  designed to end extreme poverty. This journey moved me from St. Louis to DC to Geneva, Switzerland to Colorado. I gave Obama a ONE t-shirt, met several US Senators and stood on stage with U2 in front of 40,000 people. Though extreme poverty still exists, our efforts at ONE have contributed to more than 7.5 million people getting access to life-saving AIDS medication and cutting Malaria by more than 75 percent in eight countries.

			I am proud of my work with ONE, but in 2010 after managing ONE&rsquo;s Colorado operation for the US Senate elections I was burnt out. I took a six month sabbatical. After several years of living the transient lifestyle I settled down in Denver&rsquo;s Capitol Hill neighborhood. During the days I learned the value of living in a community and building relationships. During the nights I stayed up late teaching myself to code.

			Rested and re-skilled, I returned to work for a small startup lifestyle magazine called The Hooch Life. I worked with an incredible team of designers, writers and bartenders to create an online magazine for the craft spirits industry. I started by leveraging my political and community organizing background to build a marketing strategy for the brand. However, being the only staff member who knew code, as we moved towards the build phase of the product it fell to me to build the site. I was thrilled and incredibly overwhelmed. But with the help of a very talented product team and a lot of late nights, we launched in December of 2011.

			We launched nearly fifty issues of The Hooch Life, but after our dream to turn the brand into an online store for craft spirits were crushed by the realities of government regulation on alcohol sales and distribution, we closed our doors.

			For the next year I ran my own consulting business helping digital agencies in the Denver/Boulder area build web sites for brands such as Nike and DaVita Healthcare. Though I enjoyed web development, I was growing tired of marketing. I wanted to build products with a purpose.

			So, in 2013 I joined BDW&rsquo;s sixth cohort, a group of 20 graduate students who would learn product design and development by Colorado&rsquo;s best designers, developers and strategists. We worked on real projects for companies around the US and built our own products. I threw myself into human-centered design, beefed up my dev skills and, one day during a caffeine induced walk home, learned to articulate the why, how and what of everything I do:

			_I inspire meaning in people’s lives by empowering them to recognize, focus on and progress in the things important to them. I build web and mobile applications that give people strategies and tools to pursue what is personally meaningful._

			Today, I do this as a designer and developer of web and mobile apps. Recently, I cofounded [Cue](http://cueapp.co "Cue"), a mobile app that introduces you to new people nearby who share your interests. In addition, I work with startups and agencies to help them bring focus, productivity and meaning to their products, ultimately contributing to customer satisfaction, loyalty and I believe, a better world.

		h4 Icon Credits
		:markdown
			- Scrum by Björn Andersson from The Noun Project
			- Menu by Corie Johnson from The Noun Project
			- Pen by Alex Sheyn from The Noun Project
			- Light Bulb by Simon Child from The Noun Project
			- Hammer by John Caserta from The Noun Project
			- Email by Marcus Michaels from The Noun Project
			- Awareness by Ivan Colic from The Noun Project
			- Crosshair by Mister Pixel from The Noun Project
			- Graph by Matthew Hawdon from The Noun Project

.content
	.content-features-secondary
		a(href="/vision.html").content-feature-secondary
			h3 vision
			.icon-vision

		a(href="/contact.html").content-feature-secondary
			h3 contact
			.icon-mail

ul.content
	include includes/content-boxes

include includes/footer