include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'contact'

ul.content
	li.content-box-headline
		h2 Project: Cue

	li.content-box-cue.no-hover

	li.content-box-description
		p Meet new people nearby.

	li.content-box.expanded
		.content-main
			.content-block
				h3 Contact Me

				form#form-contact.form-contact
					label
						span *Name
						input#name(name="name", placeholder="ex. John Smith", required)

					label
						span *Email
						input#email(name="email", placeholder="ex. john@smith.com", type="email", required)

					label
						span Phone
						input#phone(name="phone")

					label
						span *Message
						textarea#message(name="message", required)

					p#response.response

					button.btn-cta submit

	li.content-box-nav.nav-work
		a(href="#")
			.icon.icon-portfolio

	li.content-box-tweet
		a(href="http://twitter.com", target="_blank")
			.icon.icon-twitter
			p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

	li.content-box-nav.nav-about
		a(href="#")
			.icon.icon-info

	li.content-box-portfolio-image
		a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-nav.nav-contact
		a(href="#")
			.icon.icon-mail

	li.content-box-repository
		a(href="http://github.com/2WheelCoder", target="_blank")
			.icon.icon-github
			h2 Phonegap Bluetooth Low Energy Peripheral Plugin

	//- li.content-box-nav.nav-work
	//- 	.icon.icon-slashes

	li.content-box-article
		a(href="#")
			.icon.icon-pencil
			article
				h2 A Motorcycle Manifesto
				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

script(src="http://www.parsecdn.com/js/parse-1.2.16.min.js")

include includes/footer