include includes/header

ul.content.content-interior
	li.content-box-headline
			h2 Page Headline

	li.content-box-portrait

	li.content-box.expanded
		.content-main
			.content-block
				h3 Project Topic

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

			.stagger
				h4 Section Title

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

			.content-list
				h4 List Title
				ul
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping

			.content-list
				h4 List Title
				ul
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping
					li Big data fund thinker maker doer bootstrapping

			.content-block
				h4 Section Title

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				img.description-content-image(src="img/turntable.jpg")

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

			.deliverables
				h4 Deliverables

				ul
					li
						a(href="#")
							img(src="img/one.jpg")
							h5 Persona Dolor Ipsum dit Amet
					li
						a(href="#")
							img(src="img/nick-desk.jpg")
							h5 Persona
					li
						a(href="#")
							img(src="img/turntable.jpg")
							h5 Persona
					li
						a(href="#")
							img(src="img/nick-desk.jpg")
							h5 Persona
					li
						a(href="#")
							img(src="img/one.jpg")
							h5 Persona
					li
						a(href="#")
							img(src="img/nick-desk.jpg")
							h5 Persona
					li
						a(href="#")
							img(src="img/one.jpg")
							h5 Persona

		

		li.content-box-project
			a(href="#")
				img(src="img/one.jpg")

		li.content-box-nav.nav-work
			a(href="#")
				.icon.icon-portfolio

		li.content-box-tweet
			a(href="http://twitter.com", target="_blank")
				.icon.icon-twitter
				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

		li.content-box-nav.nav-about
			a(href="#")
				.icon.icon-info

		li.content-box-portfolio-image
			a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-nav.nav-contact
			a(href="#")
				.icon.icon-mail

		li.content-box-repository
			a(href="http://github.com/2WheelCoder", target="_blank")
				.icon.icon-github
				h2 Phonegap Bluetooth Low Energy Peripheral Plugin

		li.content-box-nav.nav-work
			.icon.icon-slashes

		li.content-box-article
			a(href="#")
				.icon.icon-pencil
				article
					h2 A Motorcycle Manifesto
					p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

include includes/footer