include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'contact'

ul.content
	li.content-box.content-box-contact.expanded
		.content-main
			.content-block
				h3 Contact Me

				form#form-contact.form-contact
					label
						span *Name
						input#name(name="name", placeholder="ex. John Smith", required)

					label
						span *Email
						input#email(name="email", placeholder="ex. john@smith.com", type="email", required)

					label
						span Phone
						input#phone(name="phone")

					label
						span *Message
						textarea#message(name="message", required)

					p#response.response

					button.btn-cta submit

	li.content-box-nav.nav-process
		a(href="/projects")
			.icon.icon-process
			h3 process

	li.content-box-nav.nav-projects
		a(href="/projects")
			.icon.icon-portfolio
			h3 projects

	li.content-box-nav.nav-about
		a(href="#")
			.icon.icon-info
			h3 about

script(src="http://www.parsecdn.com/js/parse-1.2.16.min.js")

include includes/footer