include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'contact'

ul.content
	li.content-box-headline
		h2 Project: Cue

	li.content-box-cue.no-hover

	li.content-box-description
		p Meet new people nearby.

	li.content-box.expanded
		.content-main
			.content-block
				h3 Contact Me

				form.form-contact
					label
						span *Name
						input(placeholder="ex. John Smith", required)

					label
						span *Email
						input(placeholder="ex. john@smith.com", type="email", required)

					label
						span Phone
						input

					label
						span *Message
						textarea(required)

					button.btn-cta submit

	li.content-box-nav.nav-work
		a(href="#")
			.icon.icon-portfolio

	li.content-box-tweet
		a(href="http://twitter.com", target="_blank")
			.icon.icon-twitter
			p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

	li.content-box-nav.nav-about
		a(href="#")
			.icon.icon-info

	li.content-box-portfolio-image
		a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-nav.nav-contact
		a(href="#")
			.icon.icon-mail

	li.content-box-repository
		a(href="http://github.com/2WheelCoder", target="_blank")
			.icon.icon-github
			h2 Phonegap Bluetooth Low Energy Peripheral Plugin

	//- li.content-box-nav.nav-work
	//- 	.icon.icon-slashes

	li.content-box-article
		a(href="#")
			.icon.icon-pencil
			article
				h2 A Motorcycle Manifesto
				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

include includes/footer