include includes/header

section.content
	.headline
		h2 Big data fund thinker maker doer.
	img.portrait(src="img/nick-desk.jpg", alt="Nick Stevens")
	.description
		p Big data fund thinker maker doer bootstrapping human-centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.
	a.project
	a.nav.nav-work
	a.nav.nav-about
	a.tweet
	a.nav.nav-contact
	a.portfolio-image
		img(src="img/turntable.jpg", alt="Photo Portfolio: Turntable")
	a.repository
	a.article

include includes/footer