include includes/header

ul.content
	li.content-box-headline
			h2 Design doesn&#39;t stop when dev begins.

	li.content-box-portrait
		.hover

	li.content-box-description
			p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

	li.content-box-project
		a(href="#")
			img(src="img/one.jpg")

	li.content-box-nav.nav-work
		a(href="#")
			.icon.icon-portfolio

	li.content-box-tweet
		a(href="http://twitter.com", target="_blank")
			.icon.icon-twitter
			p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

	li.content-box-nav.nav-about
		a(href="#")
			.icon.icon-info

	li.content-box-portfolio-image
		a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-nav.nav-contact
		a(href="#")
			.icon.icon-mail

	li.content-box-repository
		a(href="http://github.com/2WheelCoder", target="_blank")
			.icon.icon-github
			h2 Phonegap Bluetooth Low Energy Peripheral Plugin

	li.content-box-nav.nav-work
		.icon.icon-slashes

	li.content-box-article
		a(href="#")
			.icon.icon-pencil
			article
				h2 A Motorcycle Manifesto
				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

	li.content-box-article.recommendation
		a(href="#")
			.icon.icon-linkedin
			article
				h2 Glenn Morey, CEO, The Hooch Life
				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

include includes/footer