include includes/header

ul.content
	li.content-box-headline.content-box-headline-tagline
		h2 research<br />&mdash;<br />design<br />&mdash;<br />build

	li.content-box-portrait

	li.content-box-description
		p I design and build user experiences that contribute focus, progress and meaning to user&rsquo;s lives.

	li.content-box-nav.nav-process
		a(href="/projects")
			.icon.icon-process
			h3 process

	li.content-box-portfolio-image.content-box-portfolio-image-2
		a(href="http://500px.com/photo/49573736/andrea-gibson-poet-performing-at-world-aids-day-2009-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-nav.nav-projects
		a(href="/projects")
			.icon.icon-portfolio
			h3 projects

	li.content-box-portfolio-image.content-box-portfolio-image-18
		a(href="http://500px.com/photo/75207215/zeebo-w-see-i-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-project.content-box-project-cue
		a(href="/projects/cue")
	
	li.content-box-portfolio-image.content-box-portfolio-image-13
		a(href="http://500px.com/photo/49579922/nylon-string-guitar-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-nav.nav-about
		a(href="#")
			.icon.icon-info
			h3 about

	li.content-box-portfolio-image.content-box-portfolio-image-19
		a(href="http://500px.com/photo/76156747/the-panache-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-nav.nav-contact
		a(href="#")
			.icon.icon-mail
			h3 contact

	li.content-box-portfolio-image.content-box-portfolio-image-4
		a(href="http://500px.com/photo/49576942/geneva-time-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/490603802475499520", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p My startup, @cue_app was featured in @Digiday! &ldquo;The Kids are Alright&rdquo; http://bit.ly/1wJNlyC

	li.content-box-portfolio-image.content-box-portfolio-image-24
		a(href="http://500px.com/photo/49576710/les-alpes-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-project.content-box-project-hooch
		a(href="projects/hooch")

	li.content-box-portfolio-image.content-box-portfolio-image-22
		a(href="http://500px.com/photo/77166105/brewing-bicycle-rims-and-disco-balls-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-project.content-box-project-one
		a(href="projects/one")

	li.content-box-portfolio-image.content-box-portfolio-image-23
		a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Glenn Morey, CEO
				h3 The Hooch Life
				p A programming team of ONE GUY, the buck started and stopped with Nick&hellip;and he never let us down.

	li.content-box-portfolio-image.content-box-portfolio-image-21
		a(href="http://500px.com/photo/76836963/a-deadly-drink-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/432931620299870209", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p Ladies and gentlemen, I give you Startup Ipsum &mdash; the ipsum generator of your techie dreams. @BDWc6 creation. http://startupipsum.io

	li.content-box-portfolio-image.content-box-portfolio-image-1
		a(href="http://500px.com/photo/78399181/sandra-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Kim Smith, Deputy Field Director
				h3 The ONE Campaign
				p He was always amazingly dedicated, hard working and detail oriented and I never once was concerned he wouldn&rsquo;t come through fully with what he promised to do.

	li.content-box-portfolio-image.content-box-portfolio-image-3
		a(href="http://500px.com/photo/49577346/l'ethno-dj-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-repository
		a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
			.icon.icon-github
			h2 BLE Peripehral Manager PhoneGap Plugin

	li.content-box-portfolio-image.content-box-portfolio-image-16
		a(href="http://500px.com/photo/49580086/maserati-motorcycle-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Kelly Sandoval, UX Art Director
				h3 The Hooch Life
				p He was easy to work with and dedicated to producing the highest quality product. I always found Nick to be very motivated to learn more and share what he knew.

	li.content-box-portfolio-image.content-box-portfolio-image-11
		a(href="http://500px.com/photo/49579740/michael-gungor-gungor-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p Prototypin&rsquo; @bdwcu

	li.content-box-portfolio-image.content-box-portfolio-image-5
		a(href="http://500px.com/photo/49578822/rue-des-deux-ponts-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/479008538732527616", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p #SASS #LESS and #Stylus walked into a Skype conversation&hellip; #css3 #humor with @ANoffsinger

	li.content-box-portfolio-image.content-box-portfolio-image-9
		a(href="http://500px.com/photo/49579288/the-rouge-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Julie Morey, Design &amp; Photography Director
				h3 The Hooch Life
				p Nick Stevens is a natural photojournalist&mdash;part observer, part storyteller, and part technician&hellip;his work has feeling.

	li.content-box-portfolio-image.content-box-portfolio-image-15
		a(href="http://500px.com/photo/49580010/tuning-impala-deluxe-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/384485295971770368", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p First coffee spill in my #moleskine. Milestone?

	//- li.content-box-portfolio-image.content-box-portfolio-image-12
	//- 	a(href="http://500px.com/photo/49579746/josh-harvey-gungor-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-portfolio-image.content-box-portfolio-image-17
	//- 	a(href="http://500px.com/photo/75207217/zeebo-w-see-i-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-portfolio-image.content-box-portfolio-image-6
	//- 	a(href="http://500px.com/photo/49578826/roberto-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-portfolio-image.content-box-portfolio-image-7
	//- 	a(href="http://500px.com/photo/49579302/the-rouge-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px
	
	//- li.content-box-portfolio-image.content-box-portfolio-image-8
	//- 	a(href="http://500px.com/photo/49579316/the-rouge-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-portfolio-image.content-box-portfolio-image-14
	//- 	a(href="http://500px.com/photo/49580012/i-see-me-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-article
	//- 	a(href="#")
	//- 		.icon.icon-pencil
	//- 		article
	//- 			h2 A Motorcycle Manifesto
	//- 			p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

include includes/footer