include includes/header

ul.content
	li.content-box-headline
			h2 Product for Purpose

	li.content-box-portrait
		.hover

	li.content-box-description
		p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

	li.content-box-one
		a(href="projects/one")

	li.content-box-nav.nav-work
		a(href="/projects")
			.icon.icon-portfolio
			h3 projects

	li.content-box-cue
		a(href="/projects/cue")

	li.content-box-nav.nav-about
		a(href="#")
			.icon.icon-info
			h3 about

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/432931620299870209", target="_blank")
			.icon.icon-twitter
			p Ladies and gentlemen, I give you Startup Ipsum &mdash; the ipsum generator of your techie dreams. @BDWc6 creation. http://startupipsum.io 

	li.content-box-nav.nav-contact
		a(href="#")
			.icon.icon-mail
			h3 contact

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/490603802475499520", target="_blank")
			.icon.icon-twitter
			p My startup, @cue_app was featured in @Digiday! &ldquo;The Kids are Alright&rdquo; http://bit.ly/1wJNlyC
	
	li.content-box-portfolio-image
		a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
			.icon.icon-500px
				
	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/479008538732527616", target="_blank")
			.icon.icon-twitter
			p #SASS #LESS and #Stylus walked into a Skype conversation&hellip; #css3 #humor with @ANoffsinger

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
			.icon.icon-twitter
			p Prototypin&#39; @bdwcu

	//- li.content-box-tweet
	//- 	a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
	//- 		.icon.icon-twitter
	//- 		p I solved the @dvlpdnvr after party puzzle in 11 seconds. I&#39;m, headed to the @denveregotist party at @illegal_petes! http://developdenver.org/party

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/384485295971770368", target="_blank")
			.icon.icon-twitter
			p First coffee spill in my #moleskine. Milestone?


	li.content-box-repository
		a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
			.icon.icon-github
			h2 BLE Peripehral Manager PhoneGap Plugin

	//- li.content-box-nav.nav-work
	//- 	.icon.icon-slashes

	//- li.content-box-article
	//- 	a(href="#")
	//- 		.icon.icon-pencil
	//- 		article
	//- 			h2 A Motorcycle Manifesto
	//- 			p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

	li.content-box-article.recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Glenn Morey, CEO, The Hooch Life
				p A programming team of ONE GUY, the buck started and stopped with Nick&hellip;and he never let us down.

	li.content-box-article.recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Julie Morey, Design &amp; Photography Director, The Hooch Life
				p Nick Stevens is a natural photojournalist&mdash;part observer, part storyteller, and part technician&hellip;his work has feeling.

	li.content-box-article.recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Kelly Sandoval, UX Art Director, The Hooch Life
				p He was easy to work with and dedicated to producing the highest quality product. I always found Nick to be very motivated to learn more and share what he knew.

	li.content-box-article.recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Ranna Armstrong, Project Coordinator, The ONE Campaign
				p Despite the need to juggle multiple priorities, he never missed a deadline&hellip;Nick goes the extra mile &mdash; sometimes literally &mdash; and knows how to get things done and get them done fast.

	li.content-box-article.recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Kim Smith, Deputy Field Director, The ONE Campaign
				p He was always amazingly dedicated, hard working and detail oriented and I never once was concerned he wouldn&#39;t come through fully with what he promised to do.


include includes/footer