include includes/header

section.content
	.headline
		h2 Big data fund thinker maker doer.
	img.portrait(src="img/nick-desk.jpg", alt="Nick Stevens")
	.description
		p Big data fund thinker maker doer bootstrapping human-centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.
	a.project
		img(src="img/one.png")
	a.nav.nav-work
	a.nav.nav-about
	a.tweet
		p Big data fund thinker maker doer bootstrapping human-centered design Steve Jobs agile intuitive thought.
		//- :after for Twitter icon
	a.nav.nav-contact
	a.portfolio-image
		img(src="img/turntable.jpg", alt="Photo Portfolio: Turntable")
		//- :after for 500px icon
	a.repository
		h2 Phonegap Bluetooth Low Energy Peripheral Plugin
		//- :after for Github icon
	a.article
		article
			h2 A Motorcycle Manifesto
			p Big data fund thinker maker doer bootstrapping human-centered design Steve Jobs agile intuitive thought.
			//- :after for Pencil icon

include includes/footer