include includes/header

section.content
	.headline
		h2 Big data fund thinker maker doer.

	.portrait
		img(src="img/nick-desk.jpg", alt="Nick Stevens")

	.description
		p Big data fund thinker maker doer bootstrapping human-centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

	a(href="#").project
		img(src="img/one.jpg")

	a(href="#").nav.nav-work
		.icon.icon-portfolio

	a(href="http://twitter.com", target="_blank").tweet
		.icon.icon-twitter
		p Big data fund thinker maker doer bootstrapping human-centered design Steve Jobs agile intuitive thought.

	a(href="#").nav.nav-about
		.icon.icon-info

	a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank").portfolio-image
		img(src="img/turntable.jpg", alt="Photo Portfolio: Turntable")
		.icon.icon-500px

	a(href="#").nav.nav-contact
		.icon.icon-mail

	a(href="http://github.com/2WheelCoder", target="_blank").repository
		.icon.icon-github
		h2 Phonegap Bluetooth Low Energy Peripheral Plugin

	a(href="#").nav.nav-work
		.icon.icon-slashes

	a(href="#").article
		.icon.icon-pencil
		article
			h2 A Motorcycle Manifesto
			p Big data fund thinker maker doer bootstrapping human-centered design Steve Jobs agile intuitive thought.

include includes/footer