include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'home'

ul.content
	li.content-box-headline.content-box-headline-home
		h2 that&rsquo;s me
			span &#65515;
	li.content-box-portrait
	li.content-box-description
		p I build products that inspire people to live more meaningful lives.

.content.content-features
	a(href="/vision.html").content-feature.content-feature-vision
		h3 vision

		img(src="/img/golden-circle.svg", alt="Why: Meaning; How: Recognize, Focus, Progress; What: Web and Mobile Apps", title="Why: Meaning; How: Recognize, Focus, Progress; What: Web and Mobile Apps")

		p Meaning is a feeling. An emotion. It&rsquo;s something we may not understand, but we know when we have found it.

		.btn-cta.next Vision

	a(href="/process.html").content-feature.content-feature-process
		h3 process

		img(src="img/desirability-feasability-viability.svg", alt="Desirability, Feasability and Viability Venn Diagram")

		p I practice Human-Centered Design in three phases: research, design and build.

		.btn-cta.next Process

.content
	.content-block
		h3.content-block-header projects

ul.content.content-projects
	li.content-box-project.content-box-project-cue
		a(href="/projects/cue.html")
			h4
				.icon-cue-text

	li.content-box-project.content-box-project-hooch
		a(href="/projects/the-hooch-life.html")
			h4
				.icon-hooch

	li.content-box-project.content-box-project-one
		a(href="/projects/one-campaign.html")
			h4
				.icon-one

.content
	.content-features-secondary
		a(href="/about.html").content-feature-secondary.content-feature-about
			h3 about
			.icon-beard

		a(href="/contact.html").content-feature-secondary.content-feature-contact
			h3 contact
			.icon-mail

ul.content
	include includes/content-boxes

include includes/footer