include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'process'

ul#primary-content.content
	li.content-box-headline
		h2 Process

	li.content-box-portrait

	li.content-box-headline.content-box-headline-tagline
		h2 research<br />&mdash;<br />design<br />&mdash;<br />build

	li.content-box.content-box-process.expanded
		.content-main
			.content-block
				:markdown
					### Process

					I believe that technology can enable more focused, productive and meaningful lives. But in our societal struggle to leverage the benefits of technology, we&rsquo;ve become trapped by the distraction and dependence of an unhealthy relationship with it. I research, design and build products that return focus, productivity and meaning to user&rsquo;s lives.

					For example, imagine you are an energy company that provides a service that reduces energy use and cost. The business question &ldquo;how do I create something that customers will pay for?&rdquo; can be answered by envisioning what a healthy relationship with your digital product looks like. Through research I might determine, for example, that a healthy relationship with technology is one that does not distract from their daily activities (focus), saves them time and money (productivity) and impacts what they value in a positive way (meaning).

					Therefore, the tool that I build for this audience could involve a mobile app that can be accessed in their free time that ties the contribution of their time directly to their cost savings. In addition, it could give feedback about the user&rsquo;s environmental impact and allow them to compare this to their friends and family members.

					### Stages
					The previous scenario is a simple example of how I might approach a user experience challenge. In an ideal project, there are four stages that take place: research, design, build and test. How and when these stages happen varies with each project. They are meant to be malleable to fit the needs of each project. Iteration is essential to creating the best user experience, so stages are often repeated later in a project until a solution is reached.
					- research
					- design
					- build
					- test

					#### Research
					Research is essential to designing solutions that meet the needs of the business and the user. The goal of this phase is to uncover actionable insights about a user that can guide the design phase. Secondary research is great for gaining an understanding of the industry or environment, but the most fruitful insights come from primary research. Interviewing stakeholders and current or potential users can reveal a great deal about the requirements or constraints of the final solution.

					#### Design
					Sketching is the most important exercise during the design phase. It is a highly iterative process. I begin by sketching ideas of the overall experience: bullet points, word clouds, systems diagrams, user flows. The focus here is on quantity of ideas, not quality. Just by getting the pencil to paper the solution begins to unfold. Eventually, the sketches evolve into interfaces. This is a good stage to get feedback from other designers. Then, depending on the project I may move to wireframes and clickable prototypes which can be shown to clients, tested with users or handed over to a visual designer.

					#### Build
					Depending on the needs of the project the first build may be a clickable prototype of wireframes using a tool such as [Flinto](https://www.flinto.com/ "Flinto") or [Invision](http://www.invisionapp.com/ "Invision"). However, because of my background as a developer I prefer to jump to code as quickly as possible. Occasionally, I build a quick prototype with [Bootstrap](http://getbootstrap.com/ "Bootstrap"), but if a visual designer has already mocked up styling for the interface I will create my own system of custom tools and pre-built tools from [npm](http://npmjs.org "npm"). Everything I code is modular and semantic so that it can be reused and easily understood by other developers.

					#### Test
					The purpose of this stage is to conduct usability testing with actual users in order to determine how successfully the product of the last stage fulfills the needs uncovered in the research phase. If usability testing indicates that users can easily complete necessary tasks in the app, then the app is ready for release into a real world environment where we can test how successfully the app makes users&rsquo; lives more focused, productive and meaningful. When barriers to a more focused, productive and meaningful life are revealed then I return to the research, design or build phase to determine what should be changed.

				a.btn-cta.full-width(href="#") See the Process in Action

		li.content-box-nav.nav-projects
			a(href="/projects")
				.icon.icon-portfolio
				h3 projects

		li.content-box-nav.nav-about
			a(href="#")
				.icon.icon-info
				h3 about

		li.content-box-nav.nav-contact
			a(href="#")
				.icon.icon-mail
				h3 contact

		//- li.content-box-portfolio-image.content-box-portfolio-image-2
		//- 	a(href="http://500px.com/photo/49573736/andrea-gibson-poet-performing-at-world-aids-day-2009-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-18
		//- 	a(href="http://500px.com/photo/75207215/zeebo-w-see-i-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px
		
		//- li.content-box-portfolio-image.content-box-portfolio-image-13
		//- 	a(href="http://500px.com/photo/49579922/nylon-string-guitar-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-19
		//- 	a(href="http://500px.com/photo/76156747/the-panache-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-4
		//- 	a(href="http://500px.com/photo/49576942/geneva-time-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-24
			a(href="http://500px.com/photo/49576710/les-alpes-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-22
			a(href="http://500px.com/photo/77166105/brewing-bicycle-rims-and-disco-balls-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/490603802475499520", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p My startup, @cue_app was featured in @Digiday! &ldquo;The Kids are Alright&rdquo; http://bit.ly/1wJNlyC

		li.content-box-portfolio-image.content-box-portfolio-image-23
			a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Glenn Morey, CEO
					h3 The Hooch Life
					p A programming team of ONE GUY, the buck started and stopped with Nick&hellip;and he never let us down.

		li.content-box-portfolio-image.content-box-portfolio-image-21
			a(href="http://500px.com/photo/76836963/a-deadly-drink-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/432931620299870209", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Ladies and gentlemen, I give you Startup Ipsum &mdash; the ipsum generator of your techie dreams. @BDWc6 creation. http://startupipsum.io

		li.content-box-portfolio-image.content-box-portfolio-image-1
			a(href="http://500px.com/photo/78399181/sandra-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kim Smith, Deputy Field Director
					h3 The ONE Campaign
					p He was always amazingly dedicated, hard working and detail oriented and I never once was concerned he wouldn&#39;t come through fully with what he promised to do.

		li.content-box-portfolio-image.content-box-portfolio-image-3
			a(href="http://500px.com/photo/49577346/l'ethno-dj-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-repository
			a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
				.icon.icon-github
				h2 BLE Peripehral Manager PhoneGap Plugin

		li.content-box-portfolio-image.content-box-portfolio-image-16
			a(href="http://500px.com/photo/49580086/maserati-motorcycle-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kelly Sandoval, UX Art Director
					h3 The Hooch Life
					p He was easy to work with and dedicated to producing the highest quality product. I always found Nick to be very motivated to learn more and share what he knew.

		li.content-box-portfolio-image.content-box-portfolio-image-11
			a(href="http://500px.com/photo/49579740/michael-gungor-gungor-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Prototypin&#39; @bdwcu

		li.content-box-portfolio-image.content-box-portfolio-image-5
			a(href="http://500px.com/photo/49578822/rue-des-deux-ponts-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/479008538732527616", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p #SASS #LESS and #Stylus walked into a Skype conversation&hellip; #css3 #humor with @ANoffsinger

		li.content-box-portfolio-image.content-box-portfolio-image-9
			a(href="http://500px.com/photo/49579288/the-rouge-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Julie Morey, Design &amp; Photography Director
					h3 The Hooch Life
					p Nick Stevens is a natural photojournalist&mdash;part observer, part storyteller, and part technician&hellip;his work has feeling.

		li.content-box-portfolio-image.content-box-portfolio-image-15
			a(href="http://500px.com/photo/49580010/tuning-impala-deluxe-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/384485295971770368", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p First coffee spill in my #moleskine. Milestone?

ul#secondary-content.content

include includes/footer