include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'process'

ul#primary-content.content.content-primary
	li.content-box-headline-icon
		.icon.icon-process
		h3 process

	li.content-box-portrait

	li.content-box-headline.content-box-headline-tagline
		h2 research<br />&mdash;<br />design<br />&mdash;<br />build

	li.content-box.content-box-process.expanded
		.content-main
			.content-block

				//- insert graphic of process

				:markdown
					**The process of bringing focus, progress and meaning to people&rsquo;s lives can only be accomplished by a process that genuinely listens to and understands a user&rsquo;s needs. Human-Centered Design is a process that values business needs by putting user needs first, thereby creating a product that is desired, feasible and financially viable. In other words, a business that is sustainable.**

					**I practice Human-Centered Design in three stages: research, design and build. An iterative process yields the best solutions so these stages should be repeated as often as necessary.**

					### Research
					Research is essential to designing solutions that meet the needs of the user and therefore the business. The goal of this phase is to uncover actionable insights about a user that can guide design. Secondary research is great for gaining an understanding of the industry or environment, but the most fruitful insights come from primary research. Interviewing stakeholders and current or potential users can reveal a great deal about the requirements or constraints of the final solution. If a prototype or product already exists, usability testing can reveal powerful insights for refining the product&rsquo;s design.

					### Design
					The goal of the design stage is to apply the actionable insights gained from the research stage to create solutions that can be built, tested and released. Iterative sketching is the most important exercise during the design phase. I often begin by sketching ideas of the overall experience: bullet points, word clouds, systems diagrams, user flows. The focus here is on quantity of ideas, not quality. Just by getting the pencil to paper I begin to funnel my way to solutions. Eventually, the sketches evolve into interfaces. Then, depending on the project I may move to wireframes and clickable prototypes which can be shown to clients, tested with users or handed over to a visual designer.

					### Build
					The build phase produces a prototype for testing or a product for release. Sometimes, the first build may be a clickable prototype of wireframes using a tool such as [Flinto](https://www.flinto.com/ "Flinto") or [Invision](http://www.invisionapp.com/ "Invision"). However, because of my background as a web developer I prefer to move to code as soon as possible. Occasionally, I build a quick code prototype with [Bootstrap](http://getbootstrap.com/ "Bootstrap"), but if a visual designer has already mocked up styling for the interface I will create my own system of custom tools and pre-built libraries from [npm](http://npmjs.org "npm"). Everything I code is modular and semantic so that it can be reused and easily understood by other developers. Once a prototype is ready I jump back to the research phase to conduct usability testing in order to determine if the product is solving the needs its intended to.

				a.btn-cta.full-width(href="/projects") See the Process in Action

	include includes/main-nav

	include includes/content-boxes

ul#secondary-content.content

include includes/footer