include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'process'

ul#primary-content.content
	li.content-box-headline
		h2 Process

	li.content-box-portrait

	li.content-box-headline.content-box-headline-tagline
		h2 research<br />&mdash;<br />design<br />&mdash;<br />build

	li.content-box.content-box-about.expanded
		.content-main
			.content-block
				h3 Summary

				p I&rsquo;m a User Interface Developer and User Experience Designer dedicated to building products that inspire focus, progress and meaning in user&rsquo;s lives. In the last five years, I&rsquo;ve worked in fast-paced startup and campaign environments creating teams, strategies and tools to solve a diverse range of problems.

			h3 Skills

			.content-lists
				.content-list
					h4 Languages
					ul
						li HTML/Jade
						li CSS/Stylus/SASS
						li JavaScript/Node.js/CoffeeScript
						li PHP
						li Objective-C
						li Arduino

				.content-list
					h4 Tools
					ul
						li Gulp/Grunt build scripts
						li Backbone.js
						li Phonegap
						li Git
						li Browserify
						li Adobe Creative Suite: Illustrator, Photoshop, Lightroom, Indesign

				.content-list
					h4 Research
					ul
						li user and stakeholder interviews
						li card sorting
						li personas
						li usability testing
						li content audit

				.content-list
					h4 Design
					ul
						li user flows
						li wireframing
						li site maps
						li content strategy

				.content-list
					h4 Other Skills
					ul
						li public speaking
						li client management
						li team building
						li editorial, event and product photography
						li sound production and engineering


			.content-block
				h3 Experience
				
				h4 Cue, Co-Founder and Tech Director
				ul
					li Collaborated to develop company vision including target audience, messaging, adoption strategy and business plan
					li Managed all technical development
					li Collaborated on user experience research and design
					li Developed numerous prototypes to test Bluetooth Low Energy feasibility
					li Developed Bluetooth Low Energy Phonegap plugin for Peripheral advertising

				a.btn-cta.full-width(href="#") View Project: Cue

				h4 Human Design, Full-Stack JavaScript Developer
				ul
					li Managed UI development of HealthySkoop.com
					li Decreased development time by working with design team to identify user experience issues prior to development
					li Increased speed of Node.js build scripts eightfold by recoding Grunt process to use Gulp
					li Increased organization of JavaScript by implementing Browserify dependency management
					li Increased organization of CSS by implementing a semantic and modularity structure

				h4 Simply Semantic, Founder, Developer and Designer
				ul
					li Built and managed relationships with more than 10 clients including agencies such as The 1st Movement, On Board Experiential Marketing and Wigwam Creative
					li Utilized JavaScript, PHP, HTML, CSS and WordPress to build websites for brands such as Nike and DaVita Healthcare
					li Delivered projects on schedule and at or below budget

				h4 The Hooch Life, Web Manager and Photographer
				ul
					li Developed websites for The Hooch Life and Shift 1 Design
					li Collaborated with Art Director to define the brand&rsquo;s image
					li Shot and edited hundreds of images on a fast-paced editorial schedule

				a.btn-cta.full-width(href="#") View Project: The Hooch Life

				h4 The ONE Campaign, Colorado State Organizer
				ul
					li Built and maintained relationships with US Senate candidates and their staff
					li Recruited and trained nearly 100 volunteers who engaged US Senate candidates 30 times and signed up 1,000 new members
					li Secured support from both candidates in the US Senate race
					li Organized eight events to build awareness, recruit members and train volunteers
					li Landed six media mentions in Colorado news outlets

				a.btn-cta.full-width(href="#") View Project: ONE

				h4 The ONE Campaign, Intern
				ul
					li Founded and led ONE Webster
					li Recruited and supported ONE leaders on campuses throughout the Midwest
					li Built a team to enlist more than 300 students in the ONE Campaign at Webster University
					li Secured support from US Senators Claire McCaskill and Kit Bond
					li Earned top 10 in the ONE Campus Challenge in 2008 and 2009 among hundreds of universities nationwide

				a.btn-cta.full-width(href="#") View Project: ONE

		include includes/projects-nav

		li.content-box-nav.nav-process
			a(href="/projects")
				.icon.icon-process
				h3 process

		li.content-box-nav.nav-about
			a(href="#")
				.icon.icon-info
				h3 about

		li.content-box-nav.nav-contact
			a(href="#")
				.icon.icon-mail
				h3 contact

		//- li.content-box-portfolio-image.content-box-portfolio-image-2
		//- 	a(href="http://500px.com/photo/49573736/andrea-gibson-poet-performing-at-world-aids-day-2009-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-18
		//- 	a(href="http://500px.com/photo/75207215/zeebo-w-see-i-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px
		
		//- li.content-box-portfolio-image.content-box-portfolio-image-13
		//- 	a(href="http://500px.com/photo/49579922/nylon-string-guitar-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-19
		//- 	a(href="http://500px.com/photo/76156747/the-panache-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-4
		//- 	a(href="http://500px.com/photo/49576942/geneva-time-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-24
			a(href="http://500px.com/photo/49576710/les-alpes-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-22
			a(href="http://500px.com/photo/77166105/brewing-bicycle-rims-and-disco-balls-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/490603802475499520", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p My startup, @cue_app was featured in @Digiday! &ldquo;The Kids are Alright&rdquo; http://bit.ly/1wJNlyC

		li.content-box-portfolio-image.content-box-portfolio-image-23
			a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Glenn Morey, CEO
					h3 The Hooch Life
					p A programming team of ONE GUY, the buck started and stopped with Nick&hellip;and he never let us down.

		li.content-box-portfolio-image.content-box-portfolio-image-21
			a(href="http://500px.com/photo/76836963/a-deadly-drink-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/432931620299870209", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Ladies and gentlemen, I give you Startup Ipsum &mdash; the ipsum generator of your techie dreams. @BDWc6 creation. http://startupipsum.io

		li.content-box-portfolio-image.content-box-portfolio-image-1
			a(href="http://500px.com/photo/78399181/sandra-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kim Smith, Deputy Field Director
					h3 The ONE Campaign
					p He was always amazingly dedicated, hard working and detail oriented and I never once was concerned he wouldn&#39;t come through fully with what he promised to do.

		li.content-box-portfolio-image.content-box-portfolio-image-3
			a(href="http://500px.com/photo/49577346/l'ethno-dj-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-repository
			a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
				.icon.icon-github
				h2 BLE Peripehral Manager PhoneGap Plugin

		li.content-box-portfolio-image.content-box-portfolio-image-16
			a(href="http://500px.com/photo/49580086/maserati-motorcycle-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kelly Sandoval, UX Art Director
					h3 The Hooch Life
					p He was easy to work with and dedicated to producing the highest quality product. I always found Nick to be very motivated to learn more and share what he knew.

		li.content-box-portfolio-image.content-box-portfolio-image-11
			a(href="http://500px.com/photo/49579740/michael-gungor-gungor-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Prototypin&#39; @bdwcu

		li.content-box-portfolio-image.content-box-portfolio-image-5
			a(href="http://500px.com/photo/49578822/rue-des-deux-ponts-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/479008538732527616", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p #SASS #LESS and #Stylus walked into a Skype conversation&hellip; #css3 #humor with @ANoffsinger

		li.content-box-portfolio-image.content-box-portfolio-image-9
			a(href="http://500px.com/photo/49579288/the-rouge-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Julie Morey, Design &amp; Photography Director
					h3 The Hooch Life
					p Nick Stevens is a natural photojournalist&mdash;part observer, part storyteller, and part technician&hellip;his work has feeling.

		li.content-box-portfolio-image.content-box-portfolio-image-15
			a(href="http://500px.com/photo/49580010/tuning-impala-deluxe-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/384485295971770368", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p First coffee spill in my #moleskine. Milestone?

ul#secondary-content.content

include includes/footer