include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'process'

ul#primary-content.content
	li.content-box-headline-icon
		.icon.icon-process
		h3 process

	li.content-box-portrait

	li.content-box-headline.content-box-headline-tagline
		h2 research<br />&mdash;<br />design<br />&mdash;<br />build

	li.content-box.content-box-process.expanded
		.content-main
			.content-block

				//- insert graphic of process

				:markdown
					**The process of bringing focus, progress and meaning to people&rsquo;s lives can only be accomplished by a process that genuinely listens to and understands a user&rsquo;s needs. Human-Centered Design is a process that values business needs by putting user needs first, thereby creating a product that is desired, feasible and financially viable. In other words, a business that is sustainable.**

					**I practice Human-Centered Design in three stages: research, design and build. An iterative process yields the best solutions so these stages should be repeated as often as necessary.**

					### Research
					Research is essential to designing solutions that meet the needs of the user and therefore the business. The goal of this phase is to uncover actionable insights about a user that can guide design. Secondary research is great for gaining an understanding of the industry or environment, but the most fruitful insights come from primary research. Interviewing stakeholders and current or potential users can reveal a great deal about the requirements or constraints of the final solution. If a prototype or product already exists, usability testing can reveal powerful insights for refining the product&rsquo;s design.

					### Design
					The goal of the design stage is to apply the actionable insights gained from the research stage to create solutions that can be built, tested and released. Iterative sketching is the most important exercise during the design phase. I often begin by sketching ideas of the overall experience: bullet points, word clouds, systems diagrams, user flows. The focus here is on quantity of ideas, not quality. Just by getting the pencil to paper I begin to funnel my way to solutions. Eventually, the sketches evolve into interfaces. Then, depending on the project I may move to wireframes and clickable prototypes which can be shown to clients, tested with users or handed over to a visual designer.

					### Build
					The build phase produces a prototype for testing or a product for release. Sometimes, the first build may be a clickable prototype of wireframes using a tool such as [Flinto](https://www.flinto.com/ "Flinto") or [Invision](http://www.invisionapp.com/ "Invision"). However, because of my background as a web developer I prefer to move to code as soon as possible. Occasionally, I build a quick code prototype with [Bootstrap](http://getbootstrap.com/ "Bootstrap"), but if a visual designer has already mocked up styling for the interface I will create my own system of custom tools and pre-built libraries from [npm](http://npmjs.org "npm"). Everything I code is modular and semantic so that it can be reused and easily understood by other developers. Once a prototype is ready I jump back to the research phase to conduct usability testing in order to determine if the product is solving the needs its intended to.

				a.btn-cta.full-width(href="/projects") See the Process in Action

	include includes/main-nav

	//- li.content-box-portfolio-image.content-box-portfolio-image-2
	//- 	a(href="http://500px.com/photo/49573736/andrea-gibson-poet-performing-at-world-aids-day-2009-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-portfolio-image.content-box-portfolio-image-18
	//- 	a(href="http://500px.com/photo/75207215/zeebo-w-see-i-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px
	
	//- li.content-box-portfolio-image.content-box-portfolio-image-13
	//- 	a(href="http://500px.com/photo/49579922/nylon-string-guitar-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-portfolio-image.content-box-portfolio-image-19
	//- 	a(href="http://500px.com/photo/76156747/the-panache-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	//- li.content-box-portfolio-image.content-box-portfolio-image-4
	//- 	a(href="http://500px.com/photo/49576942/geneva-time-by-nick-stevens", target="_blank")
	//- 		.icon.icon-500px

	li.content-box-portfolio-image.content-box-portfolio-image-24
		a(href="http://500px.com/photo/49576710/les-alpes-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-portfolio-image.content-box-portfolio-image-22
		a(href="http://500px.com/photo/77166105/brewing-bicycle-rims-and-disco-balls-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/490603802475499520", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p My startup, @cue_app was featured in @Digiday! &ldquo;The Kids are Alright&rdquo; http://bit.ly/1wJNlyC

	li.content-box-portfolio-image.content-box-portfolio-image-23
		a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Glenn Morey, CEO
				h3 The Hooch Life
				p A programming team of ONE GUY, the buck started and stopped with Nick&hellip;and he never let us down.

	li.content-box-portfolio-image.content-box-portfolio-image-21
		a(href="http://500px.com/photo/76836963/a-deadly-drink-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/432931620299870209", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p Ladies and gentlemen, I give you Startup Ipsum &mdash; the ipsum generator of your techie dreams. @BDWc6 creation. http://startupipsum.io

	li.content-box-portfolio-image.content-box-portfolio-image-1
		a(href="http://500px.com/photo/78399181/sandra-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Kim Smith, Deputy Field Director
				h3 The ONE Campaign
				p He was always amazingly dedicated, hard working and detail oriented and I never once was concerned he wouldn&#39;t come through fully with what he promised to do.

	li.content-box-portfolio-image.content-box-portfolio-image-3
		a(href="http://500px.com/photo/49577346/l'ethno-dj-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-repository
		a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
			.icon.icon-github
			h2 BLE Peripehral Manager PhoneGap Plugin

	li.content-box-portfolio-image.content-box-portfolio-image-16
		a(href="http://500px.com/photo/49580086/maserati-motorcycle-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Kelly Sandoval, UX Art Director
				h3 The Hooch Life
				p He was easy to work with and dedicated to producing the highest quality product. I always found Nick to be very motivated to learn more and share what he knew.

	li.content-box-portfolio-image.content-box-portfolio-image-11
		a(href="http://500px.com/photo/49579740/michael-gungor-gungor-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p Prototypin&#39; @bdwcu

	li.content-box-portfolio-image.content-box-portfolio-image-5
		a(href="http://500px.com/photo/49578822/rue-des-deux-ponts-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/479008538732527616", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p #SASS #LESS and #Stylus walked into a Skype conversation&hellip; #css3 #humor with @ANoffsinger

	li.content-box-portfolio-image.content-box-portfolio-image-9
		a(href="http://500px.com/photo/49579288/the-rouge-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-recommendation
		a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
			.icon.icon-linkedin
			article
				h2 Julie Morey, Design &amp; Photography Director
				h3 The Hooch Life
				p Nick Stevens is a natural photojournalist&mdash;part observer, part storyteller, and part technician&hellip;his work has feeling.

	li.content-box-portfolio-image.content-box-portfolio-image-15
		a(href="http://500px.com/photo/49580010/tuning-impala-deluxe-by-nick-stevens", target="_blank")
			.icon.icon-500px

	li.content-box-tweet
		a(href="https://twitter.com/NicholasStevens/status/384485295971770368", target="_blank")
			.icon.icon-twitter
			.content-box-tweet-content
				p First coffee spill in my #moleskine. Milestone?

ul#secondary-content.content

include includes/footer