include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'vision'

ul#primary-content.content.content-primary
	li.content-box-headline-icon
		.icon.icon-vision
		h2 vision

	li.content-box-portrait

	li.content-box-headline.content-box-headline-tagline
		p why<br />&mdash;<br />how<br />&mdash;<br />what

	li.content-box.content-box-vision.expanded
		.content-main
			.content-block
				h3 Vision: Why, How and What

				figure
					img(src="/img/golden-circle.svg", alt="Why: Meaning; How: Recognize, Focus, Progress; What: Web and Mobile Apps", title="Why: Meaning; How: Recognize, Focus, Progress; What: Web and Mobile Apps")
					figcaption Graphic Inspired by Simon Sinek&rsquo;s 
						a(href="http://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action", target="_blank") Start With Why

				:markdown
					#### Why: To Inspire Meaning

					**I inspire meaning in people’s lives by empowering them to recognize, focus on and progress in the things important to them. I build web and mobile applications that give people strategies and tools to pursue what is personally meaningful.**

					##### Meaning is not understood. It is felt.
					Meaning is a feeling. An emotion. It’s something we may not understand, but we know when we have found it. Sometimes it’s also called purpose, value or significance. We find meaning in relationships, ideas, activities, aspirations and objects.

					##### Meaning Isn’t Always a Happy Experience
					Meaning is a key ingredient to feeling happy, but feelings of happiness aren’t always accompanied by it. Sometimes meaning allows us to more fully experience grief or stress.

					##### Meaning Leads to Contentment
					Even when specific feelings that accompany meaning aren't positive, they can contribute to a life that is positive overall. When we recognize and embrace what is meaningful to us it creates a profound sense of presence in our lives that leads to contentment.


					#### How: Recognize, Focus, Measure
					When we recognize meaning we can focus our energy on it and progress towards our embracing or achievement of  it.

				.group-icons
					.icon-recognize
						p recognize
					.icon-crosshair
						p focus
					.icon-graph
						p progress

				:markdown
					##### Recognize Meaning
					We don’t have to understand why or how something is meaningful, but we must recognize that it is meaningful. We find meaning in relationships, ideas, activities, aspirations and objects. But discovering what is meaningful isn’t always straightforward. The process requires reflection and intention.

					##### Focus Energy
					Our environment is distracting. We reach for our email as soon as we roll out of bed. We work long hours without breaks. We are not present in our lives and we lose sight of what is meaningful.

					**We have limited energy. Focus enables us to use that energy on what’s important.**

					Once we recognize what is meaningful, we must learn to focus on it. We must remove distractions. We must prioritize our time based on what impacts what we believe to be meaningful rather than reacting to what feels immediate.

					##### Measure Progress
					Progress is how we measure the result of our efforts towards what we believe is meaningful. When we recognize what is meaningful and focus on it, we expend our energy effectively. We progress on the things we care about. Even in the most dire of circumstances if we see progress it gives meaning to our struggle and inspires us to persevere.


					#### What: Meaning in Product Development
					It is not enough to build a good product. In order to create businesses that are sustainable a brand must know and act on what it considers meaningful. When customers see a business that values what they value, they are motivated not on a logical level but on an emotional level. Emotional connection, not logic, is the source of customer loyalty.

					In the words of [Simon Sinek](http://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action "Simon Sinek: How Great Leaders Inspire Action"), “People don't buy what you do. They buy why you do it.” This is becoming especially true among the Millenial generation. 

					Millenials are increasingly placing a great deal of meaning in social good. TOMS, Product (RED) and Warby Parker are just a few examples of Millenials buying what they believe in. A study by Cone Communications found that 89 percent of consumers are very or somewhat likely to switch brands to one that is associated with a good cause, given similar price and quality.

					##### Consumers are likely to switch brands to one that is associated with a good cause, given similar price and quality

				figure
					img(src="/img/social-good-graph.png", alt="Cone Communications: Social Impact Study", title="Cone Communications: Social Impact Study")
					figcaption Adapted from Cone Communications&rsquo; 
						a(href="http://www.conecomm.com/2013-social-impact", target="_blank") Social Impact Study

				:markdown
					Recognizing, focusing on and progressing towards what is meaningful to you will gain you more loyal customers. Helping those who use your products to find meaning in their lives will make you indispensable to them.

				a.btn-cta.next(href="/process.html") How I Create Meaning
					span &#10095;

	//- include includes/main-nav

	//- include includes/content-boxes

ul#secondary-content.content

include includes/footer