include includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'vision'

ul#primary-content.content.content-primary
	li.content-box-headline-icon
		.icon.icon-vision
		h3 vision

	li.content-box-portrait

	li.content-box-headline.content-box-headline-tagline
		h2 focus<br />&mdash;<br />progress<br />&mdash;<br />meaning

	li.content-box.content-box-vision.expanded
		.content-main
			.content-block

				//- insert graphic of process

				:markdown
					**I believe that focus, progress and meaning are the source of happiness. Focus gives us the ability to achieve progress on something that is meaningful to us. When this happens, it gives individuals, communities and organizations a fulfilled sense of content.**

					**In everything I do, I aim to inspire focus, progress and meaning in people&rsquo;s lives. Using human-centered research and design I build teams, strategies and tools that enable people to achieve their aspirations.**

					### Focus
					Focus is the mindset required to navigate our distracted environment. In our societal struggle to leverage the benefits of technology we&rsquo;ve become trapped by the distraction and dependence of an unhealthy relationship with it. We reach for our email as soon as we roll out of bed. We work long hours without breaks. We are not present in our lives and we lose sight of our aspirations.

					I aim to reverse our unhealthy relationship with technology. We must make time to rest. We must remove distractions. We must prioritize our time based on what moves us closer to our aspirations rather than reacting to what feels immediate. I build products that value a user&rsquo;s attention and time.

					### Progress
					Everyone has aspirations. Progress is how we measure the result of our efforts at achieving our aspirations. Without progress we become frustrated. We feel inept. Our self-esteem lowers. The act of putting in effort but never seeing results makes us feel like we are worthless. Yet, even in the most dire of circumstances, if we can see progress it gives meaning to our struggle and inspires us to continue to pursue our aspirations. When we are focused, we spend our energy in the right areas and see progress on the things we care about. I build products that enable users to measure and achieve progress towards the things they care about.

					### Meaning
					Humans aspire to acquire objects, build relationships and create ideas. Meaning is the emotional value or importance we place on these objects, relationships and ideas. It is our purpose. It&rsquo;s why we believe we exist. When we are focused, progressing and aware of our aspirations, we have purpose in life. We are content.

					By creating products that inspire focus on and progress towards what a user cares about, I build products that give meaning to their lives.

					### Focus, Progress and Meaning in Product Design and Development
					Many existing products are barriers to focus, progress and meaning. It doesn&rsquo;t have to be this way. The value I place on these three ideas makes why, how and what I do relevant to mobile and web apps across industries. If you want customers who trust purchase and refer what you sell then you need to create a product that inspires focus, progress and meaning in their life. Together, we can inspire focus, progress and meaning.

				a.btn-cta.full-width(href="/projects") Learn the Process

	include includes/main-nav

	include includes/content-boxes

ul#secondary-content.content

include includes/footer