.content
	center($containerMaxWidth)
	
	@media $screen-lg-min
		center($containerMaxWidth, $primaryPadding)

	& > li
		@extend $responsiveBox

		// &:last-child
		// 	@media $screen-lg-min
		// 		display none