.content-box-description
	background $darkBlue

	& p
		// top 1rem
		align-self center
		font-size 1.1rem
		margin-bottom 0
		padding 100% 10% 0
		// position absolute
		text-align center
		width 100%
		line-height 1.5