.content-box-portfolio-image
	background url('../img/turntable.jpg')
	background-size cover

	&:hover
		& .icon
			font-size 2rem

	& .icon
		font-size 1.5rem
		left 1rem
		position absolute
		top 1rem

		transition font-size 0.2s ease