// add a bg image
.content
	background $white

	& > li
		color $white
		display flex
		position relative
		overflow hidden

	& > li > a
		color $white
		display flex
		padding-bottom 100%
		text-align center
		width 100%

	& li img
		max-width 100%

	& li:nth-child(3)
		@media $screen-sm-min
			display none

		@media $screen-md-min
			display flex

.content-interior
	& .headline
		& h2
			text-align center
			width 100%