.content-box-article
	background $darkGrey

	& .icon
		color $blue
		font-size 2.3rem
		left 0
		position absolute
		right 0
		text-align center
		top 20%

	& article
		margin 40% 5% 0

	& h2
		margin-bottom 0.5rem
		text-align center

	& p
		font-size 0.9rem
		position relative
		text-align center
		margin 0 auto
		width 80%

		&::before
			content "\e60a"
			font-family 'icons'
			font-size 1.2rem
			speak none
			font-style normal
			font-weight normal
			font-variant normal
			text-transform none
			line-height 1
			position absolute
			left -13%
			top -.3rem