.content-box-nav
	background $blue
	text-align center

	&:hover
		& h3
			opacity 1

	& a
		& h3
			@media $screen-md-min
				opacity 0

	& .icon
		align-self center
		font-size pxToRem(85)
		padding-top 100%
		text-align center
		width 100%

	& h3
		bottom 20%
		font-size 2rem
		left 0
		margin 0
		position absolute
		right 0
		text-align center
		width 100%

		transition opacity 0.3s ease

	& .arrow
		bottom 2%
		font-size 3rem
		font-weight bold
		left 40%
		position absolute
		text-align center
		transform rotate(0.25turn)
		width 20%