.content-box-tweet
	background $darkBlue

	&:hover
		& .icon
			transform scale3d(1.3, 1.3, 1)

	& .icon-twitter
		color $white
		font-size 2.3rem
		left 0
		position absolute
		right 0
		text-align center
		top 20%

		transition transform .2s ease
		transform-origin center

	& .content-box-tweet-content
		margin-top 50%
		width 100%

	& p
		font-weight bold
		line-height 1.3
		margin 0 auto
		position relative
		text-align center
		width 70%

		&::before
			content "\e60a"
			font-family 'icons'
			font-size 1.2rem
			speak none
			font-style normal
			font-weight normal
			font-variant normal
			text-transform none
			line-height 1
			position absolute
			left -15%
			top -.3rem

		&::after
			content "\e60a"
			font-family 'icons'
			font-size 1.2rem
			speak none
			font-style normal
			font-weight normal
			font-variant normal
			text-transform none
			line-height 1
			position absolute
			right -15%
			bottom -.3rem
			transform rotate(180deg)