.content-box-project-cue
	@extend $contentBoxBG

	background-color $cueOrange
	background-image url('../img/cue-logo.png')

.content-box-project-one
	@extend $contentBoxBG

	background-color $black
	background-image url('../img/one.jpg')

.content-box-project-hooch
	@extend $contentBoxBG

	background-color $black
	background-image url('../img/hooch.png')
	background-size 55% auto

	&:hover
		background-size 60% auto
	
	&.no-hover:hover
		background-size 55% auto