.content-box-headline
	background $lightBlue

	& h2
		align-self center
		font-size 2rem
		line-height 1.3
		margin-bottom 0
		padding 100% 1rem 0
		text-align center
		width 100%
		// padding 1rem
		// position absolute
		// bottom 0
		// right 0
		// width 80%

.content-box-headline-icon
	background $lightBlue
	text-align center

	& .icon
		align-self center
		font-size pxToRem(85)
		padding-top 100%
		text-align center
		width 100%

	& h3
		bottom 20%
		font-size 2rem
		font-weight normal
		left 0
		margin 0
		position absolute
		right 0
		text-align center
		width 100%

.content-box-headline-tagline
	& h2
		line-height 1