.content-box-headline
	background $lightBlue

	& h2
		align-self center
		font-size 2rem
		line-height 1
		margin-bottom 0
		padding 100% 1rem 0
		text-align center
		width 100%
		// padding 1rem
		// position absolute
		// bottom 0
		// right 0
		// width 80%