.content-box-nav
	background $blue
	text-align center

	&:hover
		& .icon
			font-size 7rem

	// & a
	// 	& h3
	// 		@media $screen-md-min
	// 			opacity 0

	& .icon
		align-self center
		font-size pxToRem(85)
		padding-top 100%
		text-align center
		width 100%

		transition font-size 0.2s ease

	& h3
		bottom 20%
		font-size 2rem
		font-weight normal
		left 0
		margin 0
		position absolute
		right 0
		text-align center
		width 100%

		transition opacity 0.3s ease

	& .arrow
		font-size 3rem
		font-weight bold
		left 40%
		position absolute
		text-align center
		top 66%
		transform rotate(0.25turn)
		width 20%

	&.nav-unlinked
		display none

		@media $screen-md-min
			display flex

		& .icon
			align-self auto
			left 0
			padding-top 0
			position absolute
			top 26%

		& h3
			bottom auto
			top 55%