.content-box-portfolio-image
	background url('../img/turntable.jpg')
	background-size cover

	&:hover
		& .icon
			font-size 2rem

	& .icon
		font-size 1.5rem
		left 1rem
		position absolute
		top 1rem

		transition font-size 0.2s ease

.content-box-portfolio-image-1
	background-image url("../img/portfolio/portfolio-1.jpg")

.content-box-portfolio-image-2
	background-image url("../img/portfolio/portfolio-2.jpg")

.content-box-portfolio-image-3
	background-image url("../img/portfolio/portfolio-3.jpg")

.content-box-portfolio-image-4
	background-image url("../img/portfolio/portfolio-4.jpg")

.content-box-portfolio-image-5
	background-image url("../img/portfolio/portfolio-5.jpg")

.content-box-portfolio-image-6
	background-image url("../img/portfolio/portfolio-6.jpg")

.content-box-portfolio-image-7
	background-image url("../img/portfolio/portfolio-7.jpg")

.content-box-portfolio-image-8
	background-image url("../img/portfolio/portfolio-8.jpg")

.content-box-portfolio-image-9
	background-image url("../img/portfolio/portfolio-9.jpg")

.content-box-portfolio-image-10
	background-image url("../img/portfolio/portfolio-10.jpg")

.content-box-portfolio-image-11
	background-image url("../img/portfolio/portfolio-11.jpg")

.content-box-portfolio-image-12
	background-image url("../img/portfolio/portfolio-12.jpg")

.content-box-portfolio-image-13
	background-image url("../img/portfolio/portfolio-13.jpg")

.content-box-portfolio-image-14
	background-image url("../img/portfolio/portfolio-14.jpg")

.content-box-portfolio-image-15
	background-image url("../img/portfolio/portfolio-15.jpg")

.content-box-portfolio-image-16
	background-image url("../img/portfolio/portfolio-16.jpg")

.content-box-portfolio-image-17
	background-image url("../img/portfolio/portfolio-17.jpg")

.content-box-portfolio-image-18
	background-image url("../img/portfolio/portfolio-18.jpg")

.content-box-portfolio-image-19
	background-image url("../img/portfolio/portfolio-19.jpg")

.content-box-portfolio-image-20
	background-image url("../img/portfolio/portfolio-20.jpg")

.content-box-portfolio-image-21
	background-image url("../img/portfolio/portfolio-21.jpg")

.content-box-portfolio-image-22
	background-image url("../img/portfolio/portfolio-22.jpg")

.content-box-portfolio-image-23
	background-image url("../img/portfolio/portfolio-23.jpg")

.content-box-portfolio-image-24
	background-image url("../img/portfolio/portfolio-24.jpg")