.content-box-tweet
	background $darkGrey

	& .icon-twitter
		color $blue
		font-size 2.3rem
		left 0
		position absolute
		right 0
		text-align center
		top 20%


	& p
		margin 50% 5% 0
		padding-left 13%
		position relative
		text-align left

		&::before
			content "\e60a"
			font-family 'icons'
			speak none
			font-style normal
			font-weight normal
			font-variant normal
			text-transform none
			line-height 1
			position absolute
			left 0
			top 0.2rem