.content-box.expanded
	column(1/1, gutter: 0)

	background #fff
	color $grey
	height auto
	padding-bottom 0

	// transition all .5s ease

	& h3
		@extend $headingLeftSlashes
		margin-bottom $smallSpace

	& h4
		color $blue
		font-size 1.1rem
		margin $mediumSpace 0 $smallSpace

	& h4:first-child
		margin-top 0

	& p
		color $grey

	@media $screen-md-min
		column(2/3, gutter: 0)
		float right
		height 0
		padding-bottom 100*(8/3) %
	

	& .stagger
		column(3/4, gutter: 0)
		float right
		margin-bottom 4rem

.content-box-portrait
	background url('../img/nick-desk.jpg')
	background-size cover

.content-box-cue
	@extend $contentBoxBG

	background-color $cueOrange
	background-image url('../img/cue-logo.png')

.content-box-one
	@extend $contentBoxBG

	background-color $black
	background-image url('../img/one.jpg')
	// background-size