.content-box-repository
	background $darkGrey

	& .icon
		color $blue
		font-size 2.3rem
		left 0
		position absolute
		right 0
		text-align center
		top 20%

	& h2
		margin 40% 5% 0
		text-align center