.content-block
	@extend $clearfix
	clear both
	margin $mediumSpace 0

	&:first-child
		margin-top 0

	& .content-block-image
		column(2/5, gutter: 0)
		float right
		margin-bottom $smallSpace
		margin-left $smallSpace

	& ul
		margin-bottom $smallSpace

	& li
		color $grey
		display block
		margin-bottom 0.6rem
		padding-left 1rem
		position relative

		&:before
			@extend $icon
			@extend .icon-slashes:before

			color $blue
			font-size .7rem
			left 0
			padding-top .25rem
			position absolute

		& ul
			margin-top $smallSpace

	& p
		&:last-child
			margin-bottom 0