.content-block
	@extend $clearfix
	clear both
	margin-bottom $mediumSpace

	& .content-block-image
		column(2/5, gutter: 0)
		float right
		margin-bottom $smallSpace
		margin-left $smallSpace

	& li
		color $grey
		display block
		margin-bottom 0.6rem
		margin-left 2rem
		padding-left 1rem
		position relative

		&:before
			color $blue
			content "\e00A"
			font-family 'icons'
			font-size .7rem
			left 0
			padding-top .25rem
			position absolute
			speak none
			font-weight normal
			font-variant normal
			text-transform none
			line-height 1
			-webkit-font-smoothing antialiased