.content
	clear both

.content-interior
	& .headline
		& h2
			text-align center
			width 100%

.content-primary
	& > li:nth-child(2)
		@media $screen-sm-min
			display none

		@media $screen-md-min
			display flex