.content-box-project
	background-image linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,.65) 50%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%), url('../img/turntable.jpg')
	background-position center
	background-repeat no-repeat
	background-size contain

	&:after
		background-color rgba(50, 122, 187, 0.6)
		content ""
		display block
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		z-index 0
	
	&:hover
		& [class^="icon-"],
		& [class*=" icon-"]
			transform scale3d(1.2, 1.2, 1)

	& a
		position relative
		z-index 9

	& h4
		align-self center
		color $white
		font-size 2rem
		margin 0 auto
		padding-top 100%
		position relative
		width 100%
		z-index 3

	& [class^="icon-"],
	& [class*=" icon-"]
		font-size 4rem
		width 100%

		transition transform .3s ease


.content-box-project-hooch
	background-image linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,.65) 50%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%), url('../img/portfolio/portfolio-21.jpg')
	// background-image linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,.65) 50%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%), url('../img/portfolio/portfolio-19.jpg')

	&.no-shadow
		background-image url('../img/portfolio/portfolio-21.jpg')

	&:after
		background-color rgba(52, 123, 187, .5)

.content-box-project-one
	background-image linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,.65) 50%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%), url('../img/one-project.jpg')
	
	&.no-shadow
		background-image url('../img/one-project.jpg')

	& [class^="icon-"],
	& [class*=" icon-"]
		font-size 7rem

	&:after
		// background-color rgba(151, 186, 222, .6)
		background-color rgba(52, 123, 187, .5)

.content-box-project-cue
	background-image linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,.65) 50%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%), url('../img/cue-project.jpg')

	&.no-shadow
		background-image url('../img/cue-project.jpg')

	&:after
		background-color rgba(52, 123, 187, .5)