.content-projects
	.content-box-project
		column(1/5, gutter: 0)
		display flex
		padding-bottom (1/5 * 100)%

		&:after
			display block

		& [class^="icon-"],
		& [class*=" icon-"]
			font-size pxToRem(68px)

	.content-box-project-cue
		& [class^="icon-"],
		& [class*=" icon-"]
			font-size pxToRem(52px)

	.content-box-project-hooch
		& [class^="icon-"],
		& [class*=" icon-"]
			font-size pxToRem(52px)