/********************************** 
MEDIA QUERIES
***********************************/
$screen-sm-min = '(min-width:' + 481 + 'px)'
$screen-md-min = '(min-width:' + 769 + 'px)'
$screen-lg-min = '(min-width:' + 1025 + 'px)'
$screen-xl-min = '(min-width:' + 1281 + 'px)'


/********************************** 
FONTS
***********************************/
$globalFontSize = 16px
$primaryFont = 'Montserrat', 'HelveticaNeue-Lite', Helvetica, Arial, sans-serif


/********************************** 
COLORS
***********************************/
$blue = #4C88C7
$white = #fff
$grey = #7F7F7F
$darkGrey = #666666
$errorRed = red


/********************************** 
GRID
***********************************/
$primaryPadding = pxToRem(16)
$containerMaxWidth = pxToRem(1024)