/********************************** 
MEDIA QUERIES
***********************************/
$screen-sm-min = '(min-width:' + 481 + 'px)'
$screen-md-min = '(min-width:' + 769 + 'px)'
$screen-lg-min = '(min-width:' + 1025 + 'px)'
$screen-xl-min = '(min-width:' + 1281 + 'px)'


/********************************** 
FONTS
***********************************/
$bodyFontSize = 16px
$primaryFont = 'HelveticaNeue-Lite', Helvetica, Arial, sans-serif
$secondaryFont = 'HelveticaNeue-Lite', Helvetica, Arial, sans-serif


/********************************** 
COLORS
***********************************/
$error-red = red


/********************************** 
GRID
***********************************/
$primary-padding = 1em
$container-max-width = 60em