include ../includes/header

ul.content.content-interior
	li.content-box-headline
			h2 Project: Cue

	li.content-box-cue

	li.content-box-description
		p Meet new people nearby.

	li.content-box.expanded
		.content-main
			.content-block
				h3 Description

				img.content-block-image(src="/img/turntable.jpg")

				p Cue is a social app that enables you to meet new people nearby. It connects you to people within roughly 150 feet of your current location who share tags you type into the app. These tags can be interests such as hiking or cooking, or any word you want.

				p Cue was conceived during Startup Semester at BDW by myself, Adam Noffsinger, Tory Rebhun and Tara Berkowski. It was revealed to the public at BDW's RE:VEAL event on May 1st, 2014. After several iterations of research, design and prototyping, Cue is currently in development and is expected to launch by the end of 2014.

				h4 Process

				p My favorite aspect of building a startup is having control over work process and the flexibility to change it when it's not working. As a small startup team, Cue collaborates, iterates and ideates often. Each team member is responsible for a specific area, but all team members contribute to all areas of the product. Though I am not in charge of user experience, I contributed the original concept for the app and continue to sketch UIs, design user flows, conduct user interviews and advocate for user's needs. Because our team was all trained in the same skillsets during semester one at BDW, we can assist any team member with any task.

			.content-block
				h3 Role

				p My primary role at Cue was Technical Director. I handled all feasibility research and coding. Because of its reliance on Bluetooth Low Energy, a relatively new technology, Cue required a great deal of research and prototyping of Bluetooth functionality. In the process of building several prototypes that leveraged both Bluetooth Central and Peripheral functionality, I created the first and only Phonegap plugin that manages Bluetooth Peripherals for iOS. It is available as an open-source download on Github.

				p As a small startup team, I am involved on a daily basis in user experience design, business development and branding for the app.

			.content-list
				h4 Responsibilities
				ul
					li Client and server-side development: HTML, CSS and JavaScript, NoSQL databases
					li Phonegap Plugin development: Objective-C, XML and JavaScript
					li Technology feasibility research
					li UI sketching
					li User flows
					li Technical and design prototyping
					li Company vision: messaging, business model and adoption strategy
					li Managed all company finances
					li developed user research method
					li user interviews

			.content-list
				h4 Technologies
				ul
					li iOS
					li Phonegap/Cordova
					li Parse.com
					li Bluetooth LE Phonegap Plugin
					li BLE Peripheral Manager Phonegap Plugin
					li Flinto

			.content-block
				h3 Outcome

				p Cue is constantly evolving and we are still building the beta version of the app, but we've managed to create a strong foundation for the company in the following areas:

				ul
					li adoption strategy
					li business strategy
					li app development (in progress)
					li 2nd Place in CU New Venture Challenge - Mobile App Track
					li UI Design

			.deliverables
				h4 Deliverables

				ul
					li
						a(href="#")
							//- img(src="/img/cue-logo.png")
							h5 Cue Landing Page
					li
						a(href="#")
							//- img(src="/img/one.jpg")
							h5 BLE Peripheral Manager Plugin
					li
						a(href="#")
							//- img(src="/img/nick-desk.jpg")
							h5 User Flow
					li
						a(href="#")
							//- img(src="/img/turntable.jpg")
							h5 Application Architecture
					li
						a(href="#")
							//- img(src="/img/nick-desk.jpg")
							h5 Personas
					li
						a(href="#")
							//- img(src="/img/one.jpg")
							h5 User Research

			.content-block
				h3 History

				p As part of BDW's Startup Semester, our team was chosen by BDW faculty to work together to build a startup. Setting personal ambitions aside, we quickly assessed the strength of our team and began looking at industries and verticals that fit our experience and interests.

				//- Team Picture
				img.content-block-image(src="/img/turntable.jpg")

				p Cue began as a retail app leveraging Bluetooth Low Energy technology to create a more personalized shopping experience for  consumers. Though the idea was a strong one, two months in we discovered an even greater opportunity to leverage Bluetooth Low Energy technology. We pivoted to focus the app on meeting new people nearby who share interests.

				

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought leader actionable insight user story 360 campaign.

		li.content-box-nav.nav-work
			a(href="#")
				.icon.icon-portfolio

		li.content-box-tweet
			a(href="http://twitter.com", target="_blank")
				.icon.icon-twitter
				p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

		li.content-box-nav.nav-about
			a(href="#")
				.icon.icon-info

		li.content-box-portfolio-image
			a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-nav.nav-contact
			a(href="#")
				.icon.icon-mail

		li.content-box-repository
			a(href="http://github.com/2WheelCoder", target="_blank")
				.icon.icon-github
				h2 Phonegap Bluetooth Low Energy Peripheral Plugin

		li.content-box-nav.nav-work
			.icon.icon-slashes

		li.content-box-article
			a(href="#")
				.icon.icon-pencil
				article
					h2 A Motorcycle Manifesto
					p Big data fund thinker maker doer bootstrapping human centered design Steve Jobs agile intuitive thought.

include ../includes/footer