include ../includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'project'

ul.content
	li.content-box-headline
		h2 Project: Cue

	li.content-box-project.content-box-project-cue.no-shadow
		h4
			//- .icon-cue-text

	li.content-box-description
		p Meet new people nearby.

.content.content-main
	.content-block
		//- h3 
		
		h4 Overview

		img.content-block-image(src="/img/boulder-theater-2.jpg")

		p Cue is a social app that introduces you to new people nearby. It connects you to people within roughly 150 feet of your current location who share tags you type into the app. These tags can be interests such as hiking or cooking, or any word you want.

		p Cue was conceived during Startup Semester at BDW by Adam Noffsinger, Tory Rebhun and myself. In April 2014, the concept won second place in the CU New Venture Challenge Mobile Track. That next month, it was announced to the public at BDW&rsquo;s RE:VEAL event on May 1st, 2014. After several iterations of research, design and prototyping, Cue is currently in development and is expected to launch by the end of 2014.


	.content-block
		h4 Role

		p My primary role at Cue is Technical Director. I handle all feasibility research and coding. Because of its reliance on Bluetooth Low Energy, a relatively new technology, Cue required a great deal of research and prototyping of Bluetooth functionality. In the process of building several prototypes that leveraged both Bluetooth Central and Peripheral functionality, I created the first and only Phonegap plugin that manages Bluetooth Peripherals for iOS. I have made it available as an 
				a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank") open-source project on Github
				|.

		p As a small startup team, I am also involved on a daily basis in user experience design, business development and branding for the app.

		h5 Process

		p My favorite aspect of building a startup is having control over work process and the flexibility to change it when it's not working. As a small startup team, Cue collaborates, iterates and ideates often. Each team member is responsible for a specific area &mdash; I am tech lead &mdash; but all team members contribute to all areas of the product. For example, though I am not in charge of user experience, I contributed the original concept for the app and continue to sketch UIs, design user flows, conduct user interviews and advocate for user&rsquo;s needs. Because our team was all trained in the same skillsets (UX, visual design, front end code) during semester one at BDW, we can assist any team member with any task.
		
	.content-block.content-lists
		.content-list
			h5 Responsibilities
			ul
				li Client and server-side development: HTML, CSS and JavaScript
				li Phonegap Plugin development: Objective-C, XML and JavaScript
				li Technology feasibility research
				li UI sketching
				li User flows
				li Technical and design prototyping
				li Company vision: messaging, business model and adoption strategy
				li Managed all company finances
				li Developed user research method
				li User interviews

		.content-list
			h5 Technologies
			ul
				li iOS
				li Phonegap/Cordova
				li Backbone.js
				li Parse.com
				li Bluetooth LE Phonegap Plugin
				li BLE Peripheral Manager Phonegap Plugin
				li Flinto

	.content-block
		h4 Outcome

		p Cue is constantly evolving and we are still building the beta version of the app, but we&rsquo;ve managed to create a strong foundation for the company in the following areas:

		ul
			li adoption strategy
			li business strategy
			li app development (in progress)
			li UI Design

	.content-block.deliverables
		h5 Deliverables

		ul
			li.deliverables-cue-screenshot
				a(href="http://cueapp.co", target="_blank")
					h6 Cue Landing Page

			li.deliverables-github
				a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
					h6 BLE Peripheral Manager Plugin

			li.deliverables-cue-userflow
				a(href="/documents/cue-userflow.pdf", target="_blank")
					h6 User Flow
					
			li.deliverables-cue-architecture
				a(href="/documents/cue-architecture.pdf", target="_blank")
					h6 Application Architecture
			//- li
			//- 	a(href="#", target="_blank")
			//- 		h5 Personas
			//- li
			//- 	a(href="#", target="_blank")
			//- 		h5 User Research

	.content-block
		h4 History

		p For BDW&rsquo;s Startup Semester, our team was chosen by faculty to work together to build a startup. We assessed the strengths of our team and began looking at industries and verticals that fit our experience and interests.

		//- Team Picture
		img.content-block-image(src="/img/boulder-theater-1.jpg")

		p Cue began as a retail app leveraging Bluetooth Low Energy technology to create a more personalized shopping experience for  consumers. Though the idea was a strong one, two months in we discovered an even greater opportunity to leverage Bluetooth Low Energy technology. We pivoted to focus the app on meeting new people nearby who share interests.

		p Today, Cue is developing at a steady pace and is scheduled to launch by the end of 2014.

		h5 Team

		ul
			li 
				a(href="http://noff.me", target="_blank") Adam Noffsinger
				|, Design Lead
			li 
				a(href="http://www.tory.is", target="_blank") Tory Rebhun
				|, UX Lead
			li Nick Stevens, Tech Lead

.content
	.content-block
		h3.content-block-header projects

include ../includes/projects-nav

.content
	.content-features-secondary
		a(href="/about.html").content-feature-secondary.content-feature-about
			h3 about
			.icon-beard

		//- .content-feature-divider
		//- 	.icon-slashes

		a(href="/contact.html").content-feature-secondary.content-feature-contact
			h3 contact
			.icon-mail

include ../includes/footer