include ../includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'projects'

.content
	.content-block
		h3.content-block-header brands

.content
	.content-block
		.image-grid
			.image-grid__item
				img(src="/img/logos/nike.png", alt="")
			.image-grid__item
				img(src="/img/logos/ge.png", alt="")
			.image-grid__item
				img(src="/img/logos/obe.png", alt="")
			.image-grid__item
				img(src="/img/logos/one.png", alt="")
			.image-grid__item
				img(src="/img/logos/made-movement.png", alt="")
			.image-grid__item
				img(src="/img/logos/tgi-fridays.png", alt="")
			.image-grid__item
				img(src="/img/logos/davita.jpg", alt="")
			.image-grid__item
				img(src="/img/logos/copper.jpg", alt="")
			.image-grid__item
				img(src="/img/logos/skoop.jpg", alt="")


.content
	.content-block
		h3.content-block-header projects
		
include ../includes/projects-nav

.content
	.content-features-secondary
		a(href="/about.html").content-feature-secondary.content-feature-about
			h3 about
			.icon-beard

		a(href="/contact.html").content-feature-secondary.content-feature-contact
			h3 contact
			.icon-mail

ul.content
	include ../includes/content-boxes

include ../includes/footer