include ../includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'projects'

ul#primary-content.content
	li.content-box-project.content-box-project-cue
		a(href="/projects/cue")

	li.content-box-project.content-box-project-hooch
		a(href="projects/hooch")

	li.content-box-project.content-box-project-one
		a(href="projects/one")

	include ../includes/main-nav

ul#secondary-content.content

include ../includes/footer