include ../includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'project'

ul#primary-content.content
	li.content-box-headline
		h2 Project:<br />The ONE Campaign

	li.content-box-project.content-box-project-one.no-hover

	li.content-box-description
		p End Extreme Poverty

	li.content-box.content-box-one.expanded
		.content-main
			.content-block
				h3 Overview

				p The ONE Campaign is a movement of more than four million people dedicated to ending extreme poverty. I committed more than five years of my life to ONE, first as a volunteer, then as an intern, and later managing their ONE Vote 2010 operation in Colorado. ONE is exciting because it operated much like a political campaign in that it would rally around relevant Congressional legislation and drive full-steam ahead with all of its resources to get it passed. Though I was young and inexperienced when I began at ONE, I learned a great deal about leadership, communication and vision during my time there.

			.content-block
				h3 Role

				p My role at ONE is best described as that of a community organizer. By any means necessary I organized people to raise awareness of global poverty issues and reach out to their elected officials to support legislation to address these issues.

				p For three years I was a Campus Outreach Ambassador for the ONE Campus Challenge. I increased campus awareness of poverty issues, developed relationships with elected officials and helped students on other campuses throughout the Midwest to do the same. During one summer I moved to Washington, DC to intern on ONE&rsquo;s Internet Team. I managed social media profiles and developed content strategy for the ONE Campus Challenge website.

				p Upon finishing my undergrad, ONE hired me to head up their ONE Vote effort in Colorado for the 2010 US Senate elections. I juggled a lot of responsibilities including managing relationships with Senate candidates and training volunteers.

				h4 Process

				p Leading the ONE Webster student organization provided me with the perfect training ground to practice what I was learning as a public relations major. Unlike other student organizations who took a tactical approach to generating awareness, I encouraged our team to step back and look strategically at the audience, key messages and long-term goals of our group. This made us more effective at increasing not only awareness of ONE, but also its political influence.

				p I carried this strategic mindset to my work on the ONE Vote 2010 Campaign. I was well-versed in ONE&rsquo;s issues and messaging so I could easily tailor pitches to a wide range of audiences from conservatives to liberals, and Millenials to Boomers.

				h4 Responsibilities
				ul
					li community organizing
					li political organizing
					li relationship management
						ul
							li US Senators
							li media
							li community leaders
							li university administration
							li student leaders
					li volunteer training
					li team building
					li content strategy
					li social media management
					li blogging
					li lobbying
					li branding and messaging
					li media spokesperson
					li public speaking
					li event planning

			.content-block
				h3 Outcome

				p As a result of our strategic approach to student organizing, ONE Webster created some of the strongest relationships with our elected officials in the ONE Campus Challenge. We met with the offices of US Senators McCaskill and Bond on several occasions in both St. Louis and Washington, DC. Senator Bond accepted our invitation to speak at Webster on global poverty and its relation to foreign policy. In its first year of existence, ONE Webster was among the most active groups on campus and was sought after as a partner for numerous student events. We succeeded in getting the school's administration to declare the school a &ldquo;ONE Campus&rdquo; formally dedicated to ending extreme poverty. During a visit to our school by Twitter creator, Jack Dorsey, I asked him to make ONE a suggested follower on Twitter. As a result, ONE&rsquo;s Twitter following increased from roughly 15,000 to hundreds of thousands in the span of months before suggested followers were phased out of Twitter.

				p As Colorado Field Organizer for the ONE Vote 2010 Campaign I recruited and trained nearly 100 volunteers who engaged US Senate candidates 30 times and signed up 1,000 new members. Despite initial pushback from one of the candidates my team of volunteers worked diligently to build relationships that led to support from both major party US Senate candidates by the end of the race. I organized eight events and landed six media mentions in Colorado news outlets. Despite a diverse and sometimes difficult political climate, Colorado&rsquo;s ONE effort became a model for other states in the country. In 2011, after leaving the ONE Campaign I volunteered on a small team that built a training program that became part of ONE's national model.

				p Our efforts at ONE have contributed to more than 7.5 million people getting access to life-saving AIDS medication and cutting Malaria by more than 75 percent in eight countries.

			.content-block
				h4 Recommendations

				p View recommendations from Ranna Armstrong and Kim Smith on 
					a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank") LinkedIn
					|.

		include ../includes/projects-nav

		li.content-box-nav.nav-process
			a(href="/projects")
				.icon.icon-process
				h3 process

		li.content-box-nav.nav-about
			a(href="#")
				.icon.icon-info
				h3 about

		li.content-box-nav.nav-contact
			a(href="#")
				.icon.icon-mail
				h3 contact

		//- li.content-box-portfolio-image.content-box-portfolio-image-2
		//- 	a(href="http://500px.com/photo/49573736/andrea-gibson-poet-performing-at-world-aids-day-2009-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-18
		//- 	a(href="http://500px.com/photo/75207215/zeebo-w-see-i-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px
		
		//- li.content-box-portfolio-image.content-box-portfolio-image-13
		//- 	a(href="http://500px.com/photo/49579922/nylon-string-guitar-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-19
		//- 	a(href="http://500px.com/photo/76156747/the-panache-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-4
		//- 	a(href="http://500px.com/photo/49576942/geneva-time-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-24
			a(href="http://500px.com/photo/49576710/les-alpes-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-22
			a(href="http://500px.com/photo/77166105/brewing-bicycle-rims-and-disco-balls-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/490603802475499520", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p My startup, @cue_app was featured in @Digiday! &ldquo;The Kids are Alright&rdquo; http://bit.ly/1wJNlyC

		li.content-box-portfolio-image.content-box-portfolio-image-23
			a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Glenn Morey, CEO
					h3 The Hooch Life
					p A programming team of ONE GUY, the buck started and stopped with Nick&hellip;and he never let us down.

		li.content-box-portfolio-image.content-box-portfolio-image-21
			a(href="http://500px.com/photo/76836963/a-deadly-drink-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/432931620299870209", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Ladies and gentlemen, I give you Startup Ipsum &mdash; the ipsum generator of your techie dreams. @BDWc6 creation. http://startupipsum.io

		li.content-box-portfolio-image.content-box-portfolio-image-1
			a(href="http://500px.com/photo/78399181/sandra-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kim Smith, Deputy Field Director
					h3 The ONE Campaign
					p He was always amazingly dedicated, hard working and detail oriented and I never once was concerned he wouldn&#39;t come through fully with what he promised to do.

		li.content-box-portfolio-image.content-box-portfolio-image-3
			a(href="http://500px.com/photo/49577346/l'ethno-dj-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-repository
			a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
				.icon.icon-github
				h2 BLE Peripehral Manager PhoneGap Plugin

		li.content-box-portfolio-image.content-box-portfolio-image-16
			a(href="http://500px.com/photo/49580086/maserati-motorcycle-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kelly Sandoval, UX Art Director
					h3 The Hooch Life
					p He was easy to work with and dedicated to producing the highest quality product. I always found Nick to be very motivated to learn more and share what he knew.

		li.content-box-portfolio-image.content-box-portfolio-image-11
			a(href="http://500px.com/photo/49579740/michael-gungor-gungor-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Prototypin&#39; @bdwcu

		li.content-box-portfolio-image.content-box-portfolio-image-5
			a(href="http://500px.com/photo/49578822/rue-des-deux-ponts-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/479008538732527616", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p #SASS #LESS and #Stylus walked into a Skype conversation&hellip; #css3 #humor with @ANoffsinger

		li.content-box-portfolio-image.content-box-portfolio-image-9
			a(href="http://500px.com/photo/49579288/the-rouge-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Julie Morey, Design &amp; Photography Director
					h3 The Hooch Life
					p Nick Stevens is a natural photojournalist&mdash;part observer, part storyteller, and part technician&hellip;his work has feeling.

		li.content-box-portfolio-image.content-box-portfolio-image-15
			a(href="http://500px.com/photo/49580010/tuning-impala-deluxe-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/384485295971770368", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p First coffee spill in my #moleskine. Milestone?

ul#secondary-content.content

include ../includes/footer