include ../includes/header

script
	:coffee
		window.siteSettings = window.siteSettings || {}
		window.siteSettings.page = 'project'

ul#primary-content.content
	li.content-box-headline
		h2 Project:<br />The Hooch Life

	li.content-box-project.content-box-project-hooch.no-hover

	li.content-box-description
		p What to Drink.<br />Where to Drink.<br />How to Drink. 

	li.content-box.content-box-hooch.expanded
		.content-main
			.content-block
				h3 Overview

				p Many people spend their work day surrounded by 300 bottles of booze, but most of them are bartenders. I&rsquo;m not, but I got to work with the best of them at The Hooch Life. The Hooch Life is a lifestyle brand created to promote the burgeoning craft spirits movement by engaging young professionals eager to graduate from their college drinking charades into the more experimental and tasteful realm of craft cocktails.

				p Though booze abounded at The Hooch Life, we had a serious team and vision. &ldquo;Hooch&rdquo; was created by Glenn Morey, a 40-year advertising industry veteran, and his team of UX, visual, content and product designers at Shift 1 Design in Denver. Though it was my first startup and role as a full-time web developer, the team pushed me to learn quickly and deliver professional work. To be honest, it was a role I was under-qualified for but, according to our CEO, performed spectacularly.

			.content-block
				h3 Role

				p As Web Manager at The Hooch Life I was the sole developer in charge of the entire codebase. During the year and a half I worked at Hooch, I saw the site through two redesigns and more than 40 editorial cycles. I worked closely with the design team to determine user needs and priorities, but took full initiative to handle all technology feasibility research and coding.

				p In addition to my role as developer, I worked with our Art Director to create photography and define the visual direction for the brand. I photographed and edited hundreds of photos of bars, bartenders and products.

				h4 Process

				p The product team at The Hooch Life was small, collaborative and interdisciplinary. Though we worked collectively to create solutions that considered business and user needs, we each contributed from and took responsibility for our individual areas of expertise.

				p Though Hooch was my first startup experience, my background in political and community organizing prepared me for the collaborative team process and fast-paced editorial cycle. I was embedded within the design team, which enabled us to quickly ideate and iterate. And though our editorial and bartender teams were spread across the country, we had a meticulously organized and updated editorial calendar that prepared us to deliver code, content and photography needs for upcoming issues on time.

			.content-lists
				.content-list
					h4 Responsibilities
					ul
						li Full-stack development: HTML, CSS, JavaScript and PHP
						li Editorial, product and portrait photography
						li Photo retouching

				.content-list
					h4 Technologies
					ul
						li HTML, CSS, JavaScript and PHP
						li WordPress
						li Adobe Lightroom
						li Adobe Photoshop
						li Adobe Fireworks
						li Mailchimp
						li Google Doubleclick for Publishers API
						li Google Maps API
						li Nikon bodies and lenses
						li RSS

			.content-block
				h3 Outcome

				//- p Cue is constantly evolving and we are still building the beta version of the app, but we&#39;ve managed to create a strong foundation for the company in the following areas:

				ul
					li Delivered all projects on time
					li Built site to be able to withstand high-traffic
					li Adhered to web standards
					li Implemented Google Page Speed best practices and caching methods to deliver a reliable and fast user experience
					li A third-party development shop hired to audit site gave it high remarks. Their report conlcued that:

						ul
							li The site passes W3C Validator with flying colors, meaning the code uses modern standards.

							li The code is clean and readable, and free from blatant logic errors.

							li We were not able to identify any significant security vulnerabilities.

							li In general, the code is clean and maintainable, even though a few things could be improved.

			.deliverables
				h4 Deliverables

				ul
					li.deliverables-hooch-site
						a(href="http://thehoochlife.com", target="_blank")
							h5 The Hooch Life Site
					li.deliverables-hooch-photos
						a(href="http://500px.com/search?tag=The%20Hooch%20Life&type=photos", target="_blank")
							h5 Photos from The Hooch Life
					//- li.cue-userflow
					//- 	a(href="/documents/cue-userflow.pdf", target="_blank")
					//- 		h5 User Flow
					//- li.cue-architecture
					//- 	a(href="/documents/cue-architecture.pdf", target="_blank")
					//- 		h5 Application Architecture

			.content-block
				h4 Recommendations

				p View recommendations from Glenn Morey, Kelly Sandoval and Julie Morey on 
					a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank") LinkedIn
					|.

		include ../includes/projects-nav

		//- li.content-box-portfolio-image.content-box-portfolio-image-2
		//- 	a(href="http://500px.com/photo/49573736/andrea-gibson-poet-performing-at-world-aids-day-2009-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-18
		//- 	a(href="http://500px.com/photo/75207215/zeebo-w-see-i-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px
		
		//- li.content-box-portfolio-image.content-box-portfolio-image-13
		//- 	a(href="http://500px.com/photo/49579922/nylon-string-guitar-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-19
		//- 	a(href="http://500px.com/photo/76156747/the-panache-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		//- li.content-box-portfolio-image.content-box-portfolio-image-4
		//- 	a(href="http://500px.com/photo/49576942/geneva-time-by-nick-stevens", target="_blank")
		//- 		.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-24
			a(href="http://500px.com/photo/49576710/les-alpes-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-portfolio-image.content-box-portfolio-image-22
			a(href="http://500px.com/photo/77166105/brewing-bicycle-rims-and-disco-balls-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/490603802475499520", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p My startup, @cue_app was featured in @Digiday! &ldquo;The Kids are Alright&rdquo; http://bit.ly/1wJNlyC

		li.content-box-portfolio-image.content-box-portfolio-image-23
			a(href="http://500px.com/photo/49574674/turntable-at-l'ethno-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Glenn Morey, CEO
					h3 The Hooch Life
					p A programming team of ONE GUY, the buck started and stopped with Nick&hellip;and he never let us down.

		li.content-box-portfolio-image.content-box-portfolio-image-21
			a(href="http://500px.com/photo/76836963/a-deadly-drink-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/432931620299870209", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Ladies and gentlemen, I give you Startup Ipsum &mdash; the ipsum generator of your techie dreams. @BDWc6 creation. http://startupipsum.io

		li.content-box-portfolio-image.content-box-portfolio-image-1
			a(href="http://500px.com/photo/78399181/sandra-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kim Smith, Deputy Field Director
					h3 The ONE Campaign
					p He was always amazingly dedicated, hard working and detail oriented and I never once was concerned he wouldn&#39;t come through fully with what he promised to do.

		li.content-box-portfolio-image.content-box-portfolio-image-3
			a(href="http://500px.com/photo/49577346/l'ethno-dj-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-repository
			a(href="https://github.com/2WheelCoder/ble-peripheral-manager", target="_blank")
				.icon.icon-github
				h2 BLE Peripehral Manager PhoneGap Plugin

		li.content-box-portfolio-image.content-box-portfolio-image-16
			a(href="http://500px.com/photo/49580086/maserati-motorcycle-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Kelly Sandoval, UX Art Director
					h3 The Hooch Life
					p He was easy to work with and dedicated to producing the highest quality product. I always found Nick to be very motivated to learn more and share what he knew.

		li.content-box-portfolio-image.content-box-portfolio-image-11
			a(href="http://500px.com/photo/49579740/michael-gungor-gungor-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/386282150305091584", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p Prototypin&#39; @bdwcu

		li.content-box-portfolio-image.content-box-portfolio-image-5
			a(href="http://500px.com/photo/49578822/rue-des-deux-ponts-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/479008538732527616", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p #SASS #LESS and #Stylus walked into a Skype conversation&hellip; #css3 #humor with @ANoffsinger

		li.content-box-portfolio-image.content-box-portfolio-image-9
			a(href="http://500px.com/photo/49579288/the-rouge-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-recommendation
			a(href="https://www.linkedin.com/profile/view?id=33217625&authType=name&authToken=gzTa&locale=en_US&pvs=pp&trk=ppro_viewmore#endorsements", target="_blank")
				.icon.icon-linkedin
				article
					h2 Julie Morey, Design &amp; Photography Director
					h3 The Hooch Life
					p Nick Stevens is a natural photojournalist&mdash;part observer, part storyteller, and part technician&hellip;his work has feeling.

		li.content-box-portfolio-image.content-box-portfolio-image-15
			a(href="http://500px.com/photo/49580010/tuning-impala-deluxe-by-nick-stevens", target="_blank")
				.icon.icon-500px

		li.content-box-tweet
			a(href="https://twitter.com/NicholasStevens/status/384485295971770368", target="_blank")
				.icon.icon-twitter
				.content-box-tweet-content
					p First coffee spill in my #moleskine. Milestone?

ul#secondary-content.content

include ../includes/footer