.nav-primary
	background $white
	display none
	position absolute
	left 0
	top 100%
	z-index -3

	@media $screen-sm-min
		display block
		padding-bottom 0.2rem
		position static
		z-index 0

	& h2
		@extend $visuallyHidden

	& li
		display block
		font-size pxToRem(20)

		@media $screen-sm-min
			@extend $slashAfter
			display inline-block
			font-size pxToRem(14)
			margin-right 1.4rem

			&::after
				bottom 0.27em
				color $grey
				font-size 0.75rem
				right -1.1rem

			&:last-child
				margin-right 0

				&::after
					display none

		&.active,
		&:hover
			@media $screen-sm-min
				&:after
					bottom 0.2rem

				& a
					border-bottom .2rem solid $blue
					margin-bottom -.4rem
					padding-bottom .2rem

		&:last-child
			& a
				border-bottom 1px solid rgba(0,0,0,0.1)

			@media $screen-sm-min
				a
					border none

				&.active
				&:hover
					border-bottom 3px solid $blue
					margin-bottom -.4rem
					padding-bottom .4rem


		& a
			color $blue
			border-bottom 1px solid rgba(0,0,0,0.1)
			display block
			font-size 1rem
			padding .75rem 0

			@media $screen-sm-min
				border none
				padding 0