.content
	& ul

	& li
		color $white
		display flex
		position relative
		overflow hidden

	& a
		color $white
		display flex
		width 100%
		padding-bottom 100%
		text-align center

	& li img
		max-width 100%

.headline
	background $blue

	& h2
		padding 1rem

.project
	background #000
	align-items center
	
	& a
		padding-bottom 0

	& img
		display block
		align-self center
		margin 0 auto
		padding-top 100%
		width 50%

.nav
	background $blue
	text-align center

	& .icon
		align-self center
		font-size pxToRem(85)
		padding-top 100%
		text-align center
		width 100%

.portrait
	background url('../img/nick-desk.jpg')
	background-size cover

	& img
		height 100%

.description
	background $blue
	transition all .5s ease

	& > p
		bottom 1rem
		font-size 0.9rem
		margin-bottom 0
		padding 1rem 1rem 0
		position absolute
		text-align right

	&.expanded
		background #fff
		color $blue
		column(2/3, gutter: 0)
		float right
		padding-bottom 66.66666666666%

		& > p
			display none

	& .description-content
		padding 2rem

		& h3
			@extend $headingLeftSlashes
			margin-top 4rem

		& p
			column(2/3, gutter: 0)
			color $grey

.portfolio-image
	background url('../img/turntable.jpg')
	background-size cover

	& .icon
		font-size 1.5rem
		left 1rem
		position absolute
		top 1rem

.tweet
	background $darkGrey

	& .icon-twitter
		color $blue
		font-size 2.3rem
		left 0
		position absolute
		right 0
		text-align center
		top 20%


	& p
		margin 50% 5% 0
		padding-left 13%
		position relative
		text-align left

		&::before
			content "\e60a"
			font-family 'icons'
			speak none
			font-style normal
			font-weight normal
			font-variant normal
			text-transform none
			line-height 1
			position absolute
			left 0
			top 0.2rem

.article
	background $darkGrey

	& .icon
		color $blue
		font-size 2.3rem
		left 0
		position absolute
		right 0
		text-align center
		top 20%

	& article
		margin 40% 5% 0

	& h2
		margin-bottom 0.5rem
		text-align center

	& p
		font-size 0.9rem
		position relative
		text-align center
		margin 0 auto
		width 80%

		&::before
			content "\e60a"
			font-family 'icons'
			font-size 1.2rem
			speak none
			font-style normal
			font-weight normal
			font-variant normal
			text-transform none
			line-height 1
			position absolute
			left -13%
			top -.3rem

.repository
	background $darkGrey

	& .icon
		color $blue
		font-size 2.3rem
		left 0
		position absolute
		right 0
		text-align center
		top 20%

	& h2
		margin 40% 5% 0
		text-align center