.deliverables
	clear both
	margin-bottom $mediumSpace

	& ul
		@extend $clearfix
		margin 0

	& li
		@extend $clearfix

		background $blue url('../img/nick-desk.jpg')
		background-size contain
		column(1/3, gutter: 0)
		height 0
		margin-bottom 0
		padding-bottom (100/3)%
		overflow hidden

		@media $screen-lg-min
			column(1/3, gutter: 0)
			padding-bottom (100/3)%

	& a
		position relative
		display flex
		height 0
		padding-bottom 100%
		text-align center
		width 100%

		&:after
			background rgba(255,255,255,0.7)
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			z-index 3

			@media $screen-lg-min
				opacity 0

		@media $screen-lg-min
			&:hover
				& h6
					opacity 1
					transition opacity .3s ease

				&:after
					opacity 1
					transition opacity .3s ease

	& h5
		@extend $visuallyHidden

	& h6
		align-self center
		color $blue
		font-size 1.1rem
		margin 0
		padding 100% 0.5rem 0
		position relative
		width 100%
		z-index 6

		@media $screen-lg-min
			opacity 0

	& .deliverables-cue-userflow
		background $blue url('../img/deliverables/cue/userflow.png')
		background-size contain

	& .deliverables-cue-architecture
		background $blue url('../img/deliverables/cue/architecture.png')
		background-size contain

	& .deliverables-cue-screenshot
		background $blue url('../img/deliverables/cue/cue-screenshot-home.png') no-repeat
		background-size contain

	& .deliverables-github
		background $cueOrange
		position relative

		&:after
			@extend $icon
			@extend .icon-github:before

			color $white
			font-size 4rem
			position absolute
			text-align center
			top 1rem
			width 100%

	& .deliverables-hooch-photos
		background transparent url('../img/deliverables/hooch/hooch-panache.jpg') no-repeat
		background-size cover

	& .deliverables-hooch-site
		background transparent url('../img/deliverables/hooch/hooch-bottle.jpg') no-repeat
		background-size cover

	& .deliverables-skoop-site
		background transparent url('../img/deliverables/skoop/skoop-site.png') no-repeat
		background-size cover