.disciplines
	& li
		@extend $slashAfter

		color $grey
		display inline
		font-size pxToRem(16)
		margin-right 1.4rem
		text-transform lowercase

		@media $screen-sm-min
			font-size pxToRem(22)

		&::after
			right -1.7em

			@media $screen-sm-min
				right -1.4em

		&:last-child
			margin-right 0
			
			&::after
				display none