.group-icons
	display flex
	justify-content space-around
	margin $mediumSpace 0
	text-align center

	& p
		color $blue
		font-size 1.2rem
		font-weight bold
		letter-spacing .2rem
		margin-top $smallSpace
		text-transform uppercase

	& [class^="icon-"],
	& [class*=" icon-"]
		color $blue
		font-size 4rem
		width 28%