.group-icons
	text-align center

	@media $screen-sm-min
		display flex
		justify-content space-around
		margin $mediumSpace 0

	& p
		color $blue
		font-size 1.2rem
		font-weight bold
		letter-spacing .2rem
		margin-top $smallSpace
		text-transform uppercase

	& [class^="icon-"],
	& [class*=" icon-"]
		color $blue
		font-size 4rem

	> div
		margin 0 auto $smallSpace

		@media $screen-sm-min
			margin 0