.header-wrapper
	background $white

	@media $screen-sm-min
		box-shadow 0 20px 60px rgba(0,0,0,0.1)

	@media $screen-md-min
		height pxToRem(96)
		transition height .3s ease

.header-primary
	box-shadow 0 pxToRem(20) pxToRem(60) rgba(0,0,0,0.1)
	padding-bottom 0.5rem
	padding-top 0.5rem

	@media $screen-sm-min
		box-shadow none
		padding-bottom 0.2rem
	
	@media $screen-md-min
		align-items flex-end
		display flex
		justify-content space-around

	& h1
		color $blue
		font-size pxToRem(22)
		margin-bottom -0.3rem
		text-transform lowercase

	& .header-logo
		color $blue
		display none
		float left
		font-size 3.9rem
		text-align center

		transition font-size 0.3s ease, padding-bottom 0.3s ease

		@media $screen-sm-min
			display block
			padding-top 0.3rem

		@media $screen-md-min
			font-size 5rem
			margin 0 auto
			padding-bottom 0.3rem
			padding-top 0

	& > div,
	& nav
		text-align right
		width 100%

		@media $screen-sm-min
			float right
			width 80%

		@media $screen-md-min
			width 45%

	& > div
		@media $screen-md-min
			text-align left

	& nav
		text-align center
		
		@media $screen-sm-min
			text-align right

	& .header-menu-btn
		color $blue
		font-size 2.6rem
		margin 0
		padding 0
		position absolute
		top .5rem
		left 0.7rem

		@media $screen-sm-min
			display none