.header-wrapper
	background $white
	border-bottom 1px solid $grey
	box-shadow 0 20px 60px rgba(0,0,0,0.1)
	position fixed
	width 100%
	top 0

.header-primary
	align-items flex-end
	display flex
	justify-content space-around
	padding-bottom 0.2rem
	padding-top 1rem

	& h1
		color $blue
		font-size pxToRem(22)
		margin-bottom -0.3rem
		text-transform lowercase

	& .header-logo
		color $blue
		font-size pxToRem(72)
		margin 0 auto
		padding-bottom 0.3rem
		text-align center

	& > div,
	& nav
		width 25%

	& nav
		text-align right