footer.footer-primary
	div
		ul.disciplines
			li ui dev
			li ux design
	
	a.footer-logo
		.icon.icon-logo
	
	nav.nav-social
		h2 Nick Stevens&rsquo; Social Media
		ul
			li
				a(href="https://www.linkedin.com/in/nicholasstevens", target="_blank")
					.icon.icon-linkedin
			li
				a(href="https://github.com/2WheelCoder", target="_blank")
					.icon.icon-github
			li
				a(href="https://twitter.com/nicholasstevens", target="_blank")
					.icon.icon-twitter
			li
				a(href="http://500px.com/NicholasStevens", target="_blank")
					.icon.icon-500px

script(src="/js/scripts.js", async)
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-40214415-1', 'auto');
	ga('send', 'pageview');
</body>
</html>