footer.footer-primary
	div
		ul.disciplines
			li code
			li ux
	
	a.footer-logo
		.icon.icon-logo
	
	nav.nav-social
		h2 Nick Stevens' Social Media
		ul
			li
				a(href="https://www.linkedin.com/in/nicholasstevens", target="_blank")
					.icon.icon-linkedin
			li
				a(href="https://github.com/2WheelCoder", target="_blank")
					.icon.icon-github
			li
				a(href="https://twitter.com/nicholasstevens", target="_blank")
					.icon.icon-twitter
			li
				a(href="http://500px.com/NicholasStevens", target="_blank")
					.icon.icon-500px

script(src="/js/scripts.js")
//- script(src="js/vendor/stroll.min.js")
</body>
</html>