footer.footer-primary
	div
		ul.disciplines
			li code
			li ux
			li design
	
	a.footer-logo
		.icon.icon-logo
	
	nav.nav-social
		h2 Nick Stevens' Social Media
		ul
			li
				a
					.icon.icon-linkedin
			li
				a
					.icon.icon-github
			li
				a
					.icon.icon-twitter
			li
				a
					.icon.icon-500px

script(src="js/scripts.js")
//- script(src="js/vendor/stroll.min.js")