footer.footer-primary
	ul.disciplines
		li code
		li ux
		li design
	h1
		img.logo
	nav.nav-social
		h2 Nick Stevens' Social Media
		ul
			li
				a
					h3 Github
			li
				a
					h3 LinkedIn
			li
				a
					h3 Twitter
			li
				a
					h3 500px