doctype html
<html lang="en">
title Nick Stevens // User Interface Developer // User Experience Designer

meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="description", content="I inspire focus, progress and meaning in people's lives. Using human-centered research and design I build teams, strategies and tools that enable people to achieve their aspirations.")
meta(http-equiv="content-type", content="text/html;charset=UTF-8")
meta(property="og:title", content="Nick Stevens // User Interface Developer // User Experience Designer")
meta(property="og:image", content="")
meta(property="og:description", content="I inspire focus, progress and meaning in people's lives. Using human-centered research and design I build teams, strategies and tools that enable people to achieve their aspirations.")

link(rel="stylesheet", href="/css/styles.css")
link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700',rel='stylesheet', type='text/css')

<body>
#header-wrapper.header-wrapper
	header.header-primary
		div
			h1 Nick Stevens
			ul.disciplines
				li ui developer
				li ux designer
		
		a.header-logo.icon-logo

		nav#nav-primary.nav-primary
			ul
				li
					a(href="/vision.html") Vision
				li
					a(href="/process.html") Process
				li
					a(href="/projects") Projects
				li
					a(href="/about.html") About
				li
					a(href="/contact.html") Contact

		button#header-menu-btn.header-menu-btn.icon-menu

block content