doctype html
html(lang="en")
	title Nick Stevens // User Experience Developer

	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(name="description", content="")
	meta(http-equiv="content-type", content="text/html;charset=UTF-8")
	meta(property="og:title", content="")
	meta(property="og:image", content="")
	meta(property="og:description", content="")

	link(rel="stylesheet", href="css/styles.css")
	link(rel="stylesheet", href="css/vendor/stroll.min.css")
	script(src="js/scripts.js")
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700',rel='stylesheet', type='text/css')

body
	.header-wrapper
		header.header-primary
			div
				h1 Nick Stevens
				ul.disciplines
					li ui developer
					li design thinker
			
			a.header-logo.icon-logo

			nav.nav-primary
				//- what if this was a filter for the content boxes
				//- masonry/isotope
				ul
					li
						a Projects
					li
						a Skills
						//- this is the philosophy of how you work
						//- possible titles: skills, philosophy, services
					li
						a About
					li
						a Contact

block content