doctype html
html(lang="en")
	title

	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(name="description", content="")
	meta(http-equiv="content-type", content="text/html;charset=UTF-8")
	meta(property="og:title", content="")
	meta(property="og:image", content="")
	meta(property="og:description", content="")

	link(rel="stylesheet", href="css/styles.css")
	script(src="js/scripts.js")

body
	header.header-primary
		h1 Nick Stevens
		img.logo
		ul.disciplines
			li code
			li ux
			li design
		nav.nav-primary
			ul
				li
					a About
				li
					a Work
				li
					a Contact

block content