li.content-box-nav.nav-vision
	a(href="/vision.html")
		.icon.icon-vision
		h3 vision

li.content-box-nav.nav-process
	a(href="/process.html")
		.icon.icon-process
		h3 process

li.content-box-nav.nav-projects
	a(href="/projects")
		.icon.icon-hammer
		h3 projects

li.content-box-nav.nav-about
	a(href="/about.html")
		.icon.icon-question
		h3 about

li.content-box-nav.nav-contact
	a(href="/contact.html")
		.icon.icon-mail
		h3 contact