li.content-box-nav.nav-vision
	a(href="/vision")
		.icon.icon-vision
		h3 vision

li.content-box-nav.nav-vision
	a(href="/process")
		.icon.icon-process
		h3 process

li.content-box-nav.nav-projects
	a(href="/projects")
		.icon.icon-hammer
		h3 projects

li.content-box-nav.nav-about
	a(href="#")
		.icon.icon-question
		h3 about

li.content-box-nav.nav-contact
	a(href="#")
		.icon.icon-mail
		h3 contact