li.content-box-nav.nav-projects
	.icon.icon-portfolio
	h3 more projects
	.arrow &#10095;

li.content-box-cue
	a(href="/projects/cue")

li.content-box-hooch
	a(href="projects/hooch")

li.content-box-one
	a(href="projects/one")