ul.content.content-projects
	li.content-box-project.content-box-project-cue
		a(href="/projects/cue.html")
			h4
				.icon-cue-text

	li.content-box-project.content-box-project-skoop-img
		a(href="/projects/skoop.html")
			h4
				.icon-skoop-logo

	li.content-box-project.content-box-project-tgi-fridays
		a(href="/projects/tgi-fridays.html")
			h4
				.icon-tgi-fridays

	li.content-box-project.content-box-project-nike-nwm
		a(href="/projects/nike.html")
			h4
				.icon-nike
	
	li.content-box-project.content-box-project-hooch
		a(href="/projects/the-hooch-life.html")
			h4
				.icon-hooch
	
	li.content-box-project.content-box-project-one
		a(href="/projects/one-campaign.html")
			h4
				.icon-one