li.content-box-nav.nav-projects.nav-unlinked
	.icon.icon-portfolio
	h3 more projects
	.arrow &#10095;

li.content-box-project.content-box-project-cue
	a(href="/projects/cue")

li.content-box-project.content-box-project-hooch
	a(href="projects/hooch")

li.content-box-project.content-box-project-one
	a(href="projects/one")