*
	box-sizing border-box
	margin-top 0

html
	font-size $globalFontSize

body
	font-family $primaryFont
	font-weight normal
	margin 0
	padding-top 3.5rem

	@media $screen-md-min
		padding-top 6rem

		transition padding-top .3s ease

	// @media $screen-sm-min
	// 	padding-top pxToRem(97)

a,
p,
button,
input,
li
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

a
	cursor pointer
	text-decoration none

ul,
ol
	margin-bottom 0
	padding-left 0

li
	list-style none

h1,
h2,
h3,
h4,
h5,
h6
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

button
	appearance none
	background-color transparent
	border none
	box-shadow none
	font-family $primaryFont
	cursor pointer
	outline none

::-webkit-placeholder
	font normal pxToRem(14)
	color $grey

:-moz-placeholder
	font normal pxToRem(14)
	color $grey

::-moz-placeholder
	font normal pxToRem(14)
	color $grey

:-ms-placeholder
	font normal pxToRem(14)
	color $grey