*
	box-sizing border-box
	margin-top 0

html
	font-size $globalFontSize

body
	font-family $primaryFont
	font-weight normal
	margin 0
	padding-top 3.5rem

	@media $screen-md-min
		padding-top 6rem

		transition padding-top .3s ease

	// @media $screen-lg-min
		// background url('/img/logo.svg') no-repeat
		// background url('/img/vision.svg') no-repeat
		// background-position 37rem 30rem
		// background-position -8rem -16rem
		// background-position 1rem 10rem
		// background-size 35%

a,
p,
button,
input,
li
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

a
	cursor pointer
	text-decoration none

ul,
ol
	margin-bottom 0
	padding-left 0

li
	list-style none

h1,
h2,
h3,
h4,
h5,
h6
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

button
	appearance none
	background-color transparent
	border none
	box-shadow none
	font-family $primaryFont
	cursor pointer
	outline none

figure
	margin $mediumSpace 0

	& img
		display block
		margin 0 auto
		width 85%

figcaption
	color $darkGrey
	display block
	font-size .8rem
	margin $smallSpace 0 0
	text-align center
	text-transform uppercase

	& a
		color $blue
		font-style italic

		transition text-decoration 0.3s ease

		&:hover
			text-decoration overline

strong
	color $darkGrey

::-webkit-placeholder
	font normal pxToRem(14)
	color $grey

:-moz-placeholder
	font normal pxToRem(14)
	color $grey

::-moz-placeholder
	font normal pxToRem(14)
	color $grey

:-ms-placeholder
	font normal pxToRem(14)
	color $grey