$headingLeftSlashes
	color $grey
	font-size pxToRem(24)
	margin-bottom pxToRem(30)

	&::before
		color $blue
		content "\e00A"
		font-family 'icons'
		font-size pxToRem(18)
		speak none
		font-style normal
		font-weight bold
		font-variant normal
		text-transform none
		padding-right .4rem
		line-height 1

		/* Better Font Rendering =========== */
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale