@font-face
	font-family 'icons'
	src url('../fonts/icomoon.woff') format('woff')
	font-weight normal
	font-style normal

[class^="icon-"],
[class*=" icon-"]
	@extend $icon

[data-icon]:before
	font-family 'icons'
	content attr(data-icon)
	speak none
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased

.icon-th-menu:before
	content "\e60b"

.icon-quotes:before
	content "\e60a"

.icon-info:before
	content "\e600"

.icon-github:before
	content "\e603"

.icon-logo:before
	content "\e605"

.icon-twitter:before
	content "\e601"

.icon-linkedin:before
	content "\e602"

.icon-slashes:before
	content "\e604"

.icon-portfolio:before
	content "\e606"

.icon-mail:before
	content "\e607"

.icon-pencil:before
	content "\e608"

.icon-500px:before
	content "\e609"