@font-face
	font-family 'icons'
	src url('../fonts/icons.woff') format('woff')
	font-weight normal
	font-style normal

[class^="icon-"],
[class*=" icon-"]
	@extend $icon

[data-icon]:before
	font-family 'icons'
	content attr(data-icon)
	speak none
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased

.icon-dual
	// display inline-block
	position relative

.icon-menu:before
	content "\e00F"

.icon-quotes:before
	content "\e00E"

.icon-info:before
	content "\e005"

.icon-github:before
	content "\e002"

.icon-logo:before
	content "\e00D"

.icon-twitter:before
	content "\e00B"

.icon-linkedin:before
	content "\e008"

.icon-slashes:before
	content "\e00A"

.icon-portfolio:before
	content "\e006"

.icon-mail:before
	content "\e003"

.icon-pencil:before
	content "\e007"

.icon-500px:before
	content "\e001"

.icon-process:before
	content "\e00C"

.icon-vision:before
	content "\e010"

.icon-hammer:before
	content "\e012"

.icon-question:before
	content "?"
	font-family $primaryFont
	height 3rem

.icon-eye:before
	content "\e004"

.icon-graph:before
	content "\e006"

.icon-crosshair:before
	content "\e005"

.icon-interview:before
	content "\e009"

.icon-recognize:before
	content "\e011"

.icon-one:before
	content "\e013"

.icon-beard:before
	content "\e014"

.icon-hooch:before
	// color #E79D18
	content "\e015"

.icon-cue-1:before
	// color #FF673E
	content "\e016"
	position relative
	z-index 3

.icon-cue-2:before
	// color #CFCFCF
	content "\e017"

.icon-cue-3:before
	// color #00E290
	content "\e018"
	position relative
	z-index 0

.icon-cue-text:before
	content "\e019"